[2017-10-03 18:54] IsYet1 opened #1 "PropertyControlStrings can't be resolved for PropertyFieldDateTimePicker control."
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://github.com/SharePoint/sp-dev-fx-property-controls/wiki) to see if your question is already addressed there. This will

[2017-10-04 07:42] estruyf commented on #1
Thanks for sending this in.

To solve this right now, you have to add the resource file of the property controls to the **localizedResources**.

You could do this by opening the `config/config.json` and add the following line to the `localizedResources` property:

[code]

[2017-10-04 13:32] IsYet1 commented on #1
That worked. :-)

[2017-10-04 13:32] #1 closed

[2017-10-04 14:53] IsYet1 opened #2 "PropertyFieldListPicker - type error in ** this.context ** in the sample object properties."
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [
Beta 1
]

#### Expected / Desired Behavior / Question
this.context in PropertyFieldListPicker would map to a valid or included type.

#### Observed Behavior
Get error that **type of property 'context' are incompatible**.
Error output:
`
file: 'file:///c%3A/Dev/sp/lrn/spf

[2017-10-04 18:29] estruyf commented on #2
Thank you for reporting this.

It should be fixed with the beta 2 release. Can you update the `@pnp/spfx-property-controls` version to `1.0.0-beta.2` and see if this solves your issue?

[2017-10-04 18:41] IsYet1 commented on #2
Sure thing.
You probably know this already: I was able to get this to work by changing:
Line 95 of IPropertyFieldTermPicker.d.ts
to context: any;

I'll try the beta.2.

[2017-10-04 18:44] estruyf commented on #2
The problem was related to a combination of v1.2.0 and v1.3.0. Atm, it installed two versions, so it saw two interfaces with the same name. That was causing the issue. You change to `any` will indeed work, but is not a good fix.

[2017-10-04 18:57] IsYet1 commented on #2
any fixes everything, right? ;-)

I updated the package it works fine.
Thanks.

That should fix all of the Property controls. I'm going to start playing around with the Content controls next.

[2017-10-04 18:57] #2 closed

[2017-11-13 19:38] russgove opened #8 "PropertyFieldListPicker"
#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

PropertyFieldListPicker should have a select all/deselect all to let the user deselect/select all lists,

[2017-11-13 19:53] russgove opened #9 "PropertyFieldPeoplePicker select only from sitecollection"
#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

PropertyFieldPeoplePicker should have an option to only let you select users from the current sitecollection.

[2017-12-06 10:29] estruyf opened #11 "New control: Taxonomy picker with autocomplete"
A new control that allows the user to pick a term with autocomplete functionality.

[2017-12-06 10:30] estruyf opened #12 "Enhancement: Taxonomy picker"
Add the ability to filter based on a specific group / termset.

[2017-12-08 16:06] estruyf commented on #12
This functionality has been added by the PR #13

[2017-12-08 16:06] #12 closed

[2017-12-22 01:31] russgove opened #15 "make webpart controls usable in propertypane"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://github.com/SharePoint/sp-dev-fx-property-controls/wiki) to see if your question is already addressed there. This will

[2017-12-22 07:52] estruyf commented on #15
The reasoning is that all the property pane controls are by default React.

The controls you'll be using could be written in the language of your preference. If you, for example, use Angular, you will not be able to use the React controls directly in your solutions.

That is why we split these two projects. The property pane controls will stay React only, but for the body controls, we could in the

[2017-12-22 13:27] russgove opened #16 "Code editor Property control"
#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

Create a property control that lets users edit  code snippets using the ace editor. Coul let users edit Caml to be used in webparts, html snipperts for handlebars. Json snippets for general purpose stuff.  Would be super useful.

See https://ourcodeworld.com/articles/read/562/how-to-use-properly-ace-editor-in-reactjs

I'm going to try implemen

[2017-12-22 16:10] russgove commented on #16
I made a copy  of the PropertyPane picker and converted it to a code editor. Works awesome! Has support (i.e. highlighting, autocomplete ) for editing json, javascript sass typescript html, etc.

I 'll have a commit next week. I can think of dozens of uses for this!

source is on my fork https://github.com/russgove/sp-dev-fx-property-controls/tree/dev/src/propertyFields/codeEditor

[2017-12-22 18:16] russgove commented on #16
submitted PR

[2018-01-02 09:34] estruyf commented on #16
Thanks for your contribution @russgove, we will review this control.

[2018-01-02 14:49] pinalrana41 opened #18 "Can not set property 'Operation' of undefined"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://github.com/SharePoint/sp-dev-fx-property-controls/wiki) to see if your question is already addressed there. This will

[2018-01-03 07:05] CStahlberg opened #19 "Sortable multi-field picker"
#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

I am trying to achieve a webpart which displays information about the current website in a kind of bulletin list or profile style e.g. Projectname, Projectnumber, Budget, Project Responsible... which are stored in a list in the current site.
For this it would be awesome to have a controll that allows to select and order fields from a list.

Id

[2018-01-04 16:06] rahulsuryawanshi opened #20 "New Control: Rich text editor for React"
Rich text is essential in every application. I haven't seen Rich Text Editor control in Office-UI-Fabric-React which can be used in SFPx Web Parts. This control will be great addition to reusable control list.

Thanks in advance.

[2018-01-04 16:41] AJIXuMuK commented on #20
Hi @rahulsuryawanshi,

Do you have any specific use case for Rich Text Editor in Web Part Property Pane?

[2018-01-05 11:34] joelfmrodrigues opened #21 "PropertyFieldListPicker add optional property for target site"
#### Category
[ X] Enhancement

[ ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Add an optional property to allow the target site url to be configured so that the component can load lists from a different site (it is a common development scenario to have components that read data from the root site for example)

#### Observed Behavior
Control default to loading lists from the cu

[2018-01-05 15:05] estruyf commented on #18
Hi @pinalrana41, it appears something went wrong submitting your issue. Can you create a new one or update this one to get more information about the problem?

[2018-01-05 15:15] estruyf opened #22 "Enhancement PeoplePicker to allow single or multi values"
Add the option to specify if you want to select a single person or multiple ones.

[2018-01-05 21:26] estruyf commented on #22
This has been implemented in the DEV branch. The people field picker now has a new `multiSelect` property.

[2018-01-05 21:26] #22 closed

[2018-01-08 17:25] rahulsuryawanshi commented on #20
Hi @AJIXuMuK
This is not for Property pane but for SPFx Web Part. TextField control of Office-UI-Fabric-React currently doesn't support Rich text. So checking if there is any plan for custom control which support Rich text.

[2018-01-08 17:32] AJIXuMuK commented on #20
Hi @rahulsuryawanshi ,

In that case you should move this issue to [sp-dev-fx-controls-react](https://github.com/SharePoint/sp-dev-fx-controls-react) repo. This one is used for Property Pane controls.

[2018-01-08 19:51] russgove opened #25 "PermissionLevel/RoleDefinition selector"
#### Category
[ x] Enhancement

[ ] Bug

[ ] Question

#### Version

We could use a PermissionLevel selector to let an admin select a PermissionLevel/RoleDefinition.

[2018-01-09 14:02] estruyf commented on #25
Would you see this as a separate control?

[2018-01-09 14:08] estruyf commented on #18
This has been fixed as of version 1.2.0.

[2018-01-09 14:08] #18 closed

[2018-01-09 14:14] estruyf commented on #20
This control was already requested. You can follow the discussion in the React Controls repo: https://github.com/SharePoint/sp-dev-fx-controls-react/issues/20

I'm closing this issue.

[2018-01-09 14:14] #20 closed

[2018-01-09 19:50] russgove commented on #25
only retrieve the permission levels add let user select. right now I make them type t in. I can create it if I find some free time

[2018-01-09 19:54] russgove commented on #25
Literally just a dropdown that has read, contribute, and whatever other levels are configured on the site/

[2018-02-07 13:24] Luksys5 opened #29 "Add property className for property control component."
Category
[ x] Enhancement

[ ] Bug

[ ] Question

Version 1.3.0

Description
We could use a className property for each property field implementation.

[2018-02-07 13:28] Luksys5 opened #30 "PeoplePicker. Check if Label is null and if so don't render it."
Category
[ x] Enhancement

[ ] Bug

[ ] Question

Version 1.3.0

Description
When label is empty it's still being rendered and occupy necessary space

[2018-02-08 07:32] sudharsank opened #31 "PropertyFieldCheckboxWithCallout: 'checked' property is undefined"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version
Version: [  1.3.0       ]
#### Issue Description
Configured the PropertyFieldCheckboxWithCallout in a webpart. When i checked or unchecked the checkbox the value is not getting stored in the properties. When i tried to display the property value it is giving me as 'undefined'

Thanks!

[2018-02-08 07:43] sudharsank commented on #31
Sorry, my mistake no issue with the control. Sorry.

[2018-02-08 07:43] #31 closed

[2018-02-26 19:36] SamipPatel opened #33 "PropertyFieldPeoplePicker Validation does not work as expected."
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Added validation function to onGetErrorMessage property of a PropertyFieldPeoplePicker field.  Wrote the validation function to fail on purpose and expected to see error message in property pane under the people picker field.

#### Observed Behavior
No error message was displayed.

#### Notes:
  1. Sp

[2018-03-02 13:04] estruyf commented on #30
The fix for this has been added to the latest DEV build, and is scheduled to be released with `v1.4.1`. The same logic has been implemented for other fields like term picker, color picker, ...

[2018-03-02 13:04] #30 closed

[2018-03-02 13:40] estruyf commented on #33
Thanks for reporting this, I have done the changes to the property control. It is planned to be released in the next version `v1.4.1`. Feel free to already test it out by using the beta version. Instructions for installing the beta version can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-03-02 13:40] #33 closed

[2018-03-02 13:41] estruyf commented on #16
Closing the issue as it is implemented.

[2018-03-02 13:41] #16 closed

[2018-03-02 13:42] #15 closed

[2018-03-05 13:14] OskarSol opened #34 "MultiSelect acts like a simple Dropdown"
#### Category
[ ] Enhancement

[x] Bug

[x] Question

#### Version
Hi,
I'm trying to use the latest version of the MultiSelect control in my SP2016 onpremise environment. If I try to include the very basic example into my project it only shows up a DropdownControl. Is this control generally capable to work in an onpremise environment? And if so, how? ;-)

![grafik](https://user-images.githubuserco

[2018-03-05 14:59] OskarSol commented on #34
I tryied to set up the two same basic projects. One with the yeoman generator for SPOnline and one with the SP2016+Online template. As expected the SPOnline project works fine.

In the SP2016 project I had to adjust the localized resource from ` "PropertyControlStrings": "./node_modules/@pnp/spfx-property-controls/lib/loc/{locale}.js"` to `"PropertyControlStrings": "../node_modules/@pnp/spfx-prope

[2018-03-05 16:39] estruyf commented on #34
Thanks @OskarSol for reporting this. The controls have a dependency on SPFx version v1.3.0 at the moment. The version used for on-premises is v1.1.0 which has a different Office UI Fabric version dependency which does not have multi-select included. So that is the reason you see this behavior.

[2018-03-05 16:58] OskarSol commented on #34
Okay that makes sense for me, thank you for the quick answer! :-) So I will end up by building myself a custom control.

Is this information (the used PSFx version) somewhere written down that I overlooked? If not, it would be really nice to have this information somewhere in the readme.

[2018-03-05 20:12] estruyf commented on #34
I have just added it to the documentation to make it clear.

[2018-03-06 05:59] #34 closed

[2018-03-14 10:56] PrPleGoo opened #36 "PropertyFieldNumber control suggestion"
#### Category
[ x ] Enhancement

[ ] Bug

[ x ] Question

#### Version

Please specify what version of the library you are using: [ 1.4.1 ]

#### Expected / Desired Behavior / Question
It would be great if I could configure a property as a Function. This function can be used to validate the number in the field. This would allow me to have more control over the input number. A quick example for onl

[2018-03-14 13:25] estruyf commented on #36
I implemented the `onGetErrorMessage` property as this is one of the default validation properties. If you want to test it out, you will have to use the latest beta version.

More information on using a beta version can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

In the dev branch you can find the documentation of the new property: https://github.com/SharePoint/s

[2018-03-15 07:56] PrPleGoo commented on #36
It looks like this is exactly what I'm looking for. I feel the documentation is a little open to interpretation though, but that it could be me.

The documentation states that the function is used to both get the validation message and validate the input.

Does that mean that my earlier example could be implemented as following:
[code]
It would make sense that if the error message is empty that th

[2018-03-15 08:07] estruyf commented on #36
The controls behavior should be as close to the behavior of the default controls used in SPFx. So that is why I implemented it via the `onGetErrorMessage` in which you can indeed validate the value and return a string with the validation message. An empty string means that there is no problem.

I had implemented your sample in the documentation:

[code]

Your code will also work.

[2018-04-10 19:51] estruyf commented on #11
Has been introduced by #39

[2018-04-10 19:51] #11 closed

[2018-04-10 19:52] estruyf commented on #8
This will be available in v1.5.0

[2018-04-10 19:52] #8 closed

[2018-04-10 19:55] #36 closed

[2018-04-10 23:50] AJIXuMuK opened #42 "PropertyFieldTermPicker: Term is selected event if Cancel is clicked in the Terms Tree Pane"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [    1.5.0     ]

#### Expected / Desired Behavior / Question
The Term is not selected in the picker if it is checked in the tree and then Cancel is clicked

#### Observed Behavior
The Term is selected even if Cancel is clicked

#### Steps to Reproduce

1. Open test web par

[2018-04-11 19:25] estruyf opened #44 "Term selected via the suggestions does not select it in the tree view"
#### Category
[ ] Enhancement
[x] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [v1.5.0@next]

#### Observed Behavior

When choosing a term from the suggestions, it will not get automatically selected in the tree view.

#### Steps to Reproduce

Type in the term input box, open the tree view, the term is not selected.

[2018-04-11 19:36] #44 closed

[2018-04-11 19:40] estruyf opened #45 "Single selection not working in the enhanced term picker"
#### Category
[ ] Enhancement
[x] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [v1.5.0@next]

#### Expected / Desired Behavior / Question

When single selection in termpicker is turned on, it only seems to work in the tree view, not in the input field.

[2018-04-11 19:52] #45 closed

[2018-04-16 19:01] dgrooms opened #47 "People Picker console error"
#### Category
[ ] Enhancement

[ X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  1.4.2       ]

#### Expected / Desired Behavior / Question
Typing a partial user name returns that user in the suggestions pane

#### Observed Behavior
no user is displayed and a script error appears in the console

#### Steps to Reproduce
1. WIth the control in a web p

[2018-04-17 01:46] AsishP opened #48 "Taxonomy Property Control picker doesn't not work with Termset GUID"
#### Category
[ ] Enhancement
[X ] Bug
[ ] Question

#### Version
Please specify what version of the library you are using: [ 1.5.0  ]

#### Expected / Desired Behavior / Question
Taxonomy picker property control getTermStores() method is designed to work with TermsetGUID but doesn't work if termsetGUID is provided. The method is part of SPTermStorePickerService.ts class under \src\services.

####

[2018-04-17 06:53] estruyf commented on #47
Thanks @dgrooms for reporting it. I'll take a look at it.

[2018-04-17 06:56] estruyf commented on #48
@AsishP thanks for reporting this. I'll take a look at it.

[2018-04-17 07:39] estruyf commented on #47
This has been fixed and is scheduled to be released in `v1.5.1`. Can you check if the fix worked by installing the beta version? More information about installing beta versions can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-04-17 10:58] estruyf commented on #48
@AsishP I have done a change to the service code. Can you check out the new beta version to see if it fixed it? More information about installing beta versions can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-04-17 13:46] dgrooms commented on #47
This looks to have fixed it from my testing.
Thanks for the quick response !

David Grooms

Concurrency, Inc.

From: Elio Struyf <notifications@github.com>
Sent: Tuesday, April 17, 2018 2:40 AM
To: SharePoint/sp-dev-fx-property-controls <sp-dev-fx-property-controls@noreply.github.com>
Cc: David Grooms <dgrooms@concurrency.com>; Mention <mention@noreply.github.com>
Subject: Re: [SharePoint/sp-dev-f

[2018-04-18 06:13] estruyf commented on #47
Thanks for checking this!

[2018-04-18 06:13] #47 closed

[2018-04-23 14:54] koehrlenguillaume opened #51 "Use components outside of a spfx project"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

#### Version

Please specify what version of the library you are using: [1.5.0]

#### Question

I would like to know, if there is a way to use these components outside of a spfx context ?
In my case I would like to create a [Panel](https://developer.microsoft.com/en-us/fabric#/components/panel) and add some controls in it.
To do that I created

[2018-04-23 16:00] estruyf commented on #51
Hi @koehrlenguillaume that would not be possible, these controls only work in the context of SPFx as they are created for the web part property pane and also make use of the `pageContext` object.

[2018-04-23 19:32] koehrlenguillaume commented on #51
Thanks for the answer @estruyf !

[2018-04-23 19:32] #51 closed

[2018-04-23 21:05] sprider opened #52 "PropertyFieldColorPicker unable to set alpha value"
#### Category
[ ] Bug

[ ] Question

Unable to set the alpha color property value in the PropertyFieldColorPicker control. Because of this when the focus is out of the property pane, the value goes back to RGB only instead of RGB**A**.

The color control should work as shown in the below example to get the RGBA values
https://casesandberg.github.io/react-color/
Note: Happens only when style: Prope

[2018-04-24 14:58] estruyf commented on #48
Closing as this, feel free to reopen if needed.

[2018-04-24 14:58] #48 closed

[2018-04-24 18:01] thechriskent commented on #52
Unfortunately, I can't seem to recreate this issue (or I'm not understanding). Here is a gif of what I am seeing:

![alpha Color](https://thechriskent.files.wordpress.com/2018/04/alphacolor.gif)

Could you provide more details about the issue, specifically:
- Does this only occur when dragging the alpha slider?
- Does this only occur when editing the alpha value directly?
- Are you using Reactive

[2018-04-24 22:27] sprider commented on #52
Hi,

The issue occurs when I close the property pane and come back to the web part. As you shown in this gif, I can not reproduce this issue when I change the value and keep the property pane open.

Could you please let me know the tool you are using to convert the screen recording to gif? I will record and share the behavior.

[2018-04-25 03:38] thechriskent commented on #52
Thank you for the gif! This helped me recreate the issue and identify the problem. The issue occurs when the PropertyFieldColorPicker is the first (or only) property pane field and the style is set to Full.

The cause of the problem is how the ColorPicker control handles the blur event on the Hex textbox. When the Hex textbox loses focus, the value is evaluated and everything is updated. Since hex

[2018-04-25 13:47] sprider commented on #52
Hi Chris,

Thank you for your response.

I have verified the code change with version 1.5.1-beta.3404e60 and it looks good except the first time. When I change the Alpha value for the first time it goes back to hex value. Am I using the right latest version of your code?

Providing additional values such as R,G,B,Alpha and Hex on top of color outcome will help a lot.
Example: https://casesandberg.

[2018-04-25 15:10] thechriskent opened #55 "Color Pickers optionally return Color Objects"
#### Category
- [X] Enhancement
- [ ] Bug
- [ ] Question

#### Desired Behavior
The PropertyFieldColorPicker and the PropertyFieldSwatchColorPicker both return CSS-compatible strings, but it would be nice if they could optionally return an object with more details. This was originally requested by sprider (Issue #52).

By default, both property fields would return strings. However, an optional `va

[2018-04-25 16:00] estruyf commented on #52
The fix has been merged and is now available in the v1.5.1 beta. If you want to test out the beta, here you can find more information how you can do this: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-04-25 16:17] sprider commented on #52
Looks cool and issue resolved. Thank you Chris and Elio.

Can you do one more change? The icon we set using the iconName property is not aligned properly in the IE 11

**Chrome**
<img width="334" alt="chrome" src="https://user-images.githubusercontent.com/21008316/39258664-216fd8e4-487a-11e8-859d-289724c6e2b4.png">

**IE 11**
<img width="328" alt="ie 11" src="https://user-images.githubusercontent.

[2018-04-25 16:25] thechriskent commented on #52
Glad to hear it! Thanks again for taking the time to submit this issue!

As for the IE 11 alignment - Would you mind opening an additional issue for this one so that we can track it? Thanks!

[2018-04-25 16:25] #52 closed

[2018-04-25 16:39] sprider opened #56 "PropertyFieldColorPicker Palette Icon alignment issue in IE11"
#### Category
- [ ] Bug

#### Version
1.5.1 and above including beta

#### Expected
Fix the alignment issue as you see below or open the color palette as a callout
<img width="334" alt="chrome" src="https://user-images.githubusercontent.com/21008316/39259843-2a38269a-487d-11e8-8ba9-318bf807230e.png">

#### Observed Behavior
In IE11 the PropertyFieldColorPicker Palette Icon seems to hide when activ

[2018-04-25 16:39] sprider commented on #52
Sure, Done #56

[2018-04-28 08:50] estruyf opened #58 "Control for adding collection data / list dynamically"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### New control

Add a new control which allows to added collection data as web part properties. By providing such a control, the user could dynamically add logic to its control based on the inserted information. Like for example if you want to show the weather of multiple locations. With this type of control, you could specify the fields

[2018-04-28 13:32] AsishP commented on #48
Thanks @estruyf . Sorry will check it soon and let you know. Is the fix still in beta release or now in v1.5.1 ?

[2018-04-30 10:06] estruyf commented on #58
Control is in beta atm.

[2018-04-30 18:26] estruyf commented on #48
FIx is in the current release.

[2018-04-30 21:49] sprider commented on #56
Please verify in Edge browser as well

[2018-05-01 06:36] estruyf opened #60 "Allow the term set to be selectable in the TermPicker"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

Allow the `PropertyFieldTermPicker` to specify if the term set can be selected or not.

[2018-05-01 14:07] sprider commented on #56
Sometimes the icon is hiding in windows when i have other web parts in the page.

<img width="338" alt="screen shot 2018-05-01 at 8 36 41 am" src="https://user-images.githubusercontent.com/21008316/39475738-0d8473a4-4d1f-11e8-9643-bca5aee74a97.png">

[2018-05-03 15:54] sprider opened #61 "1.6.0 Release Date"
#### Category
- [ ] Question

#### Version
1.6.0

Hi Team,
Any idea about the expected release date for 1.6.0?

Thanks!

[2018-05-07 08:02] estruyf commented on #61
Depends on testing and open issues. At the moment there is still one to follow-up. So try to schedule the release later this week or next week.

[2018-05-07 12:43] sprider commented on #61
Sure, Thank you Elio.

[2018-05-07 12:43] #61 closed

[2018-05-07 14:03] #60 closed

[2018-05-07 14:10] estruyf commented on #56
I cannot seem to reproduce this issue in Edge. @thechriskent can you?

[2018-05-08 14:34] thechriskent commented on #56
I'm not seeing any issues in Edge or IE.

Here is a screenshot of a webpart using this control alongside other webparts on a communication site using the Edge browser:

![image](https://user-images.githubusercontent.com/8364109/39763050-1b739338-52aa-11e8-87be-3cfe49dbee17.png)

Here is the control where multiple property pages are being used (as in your screenshot) also in Edge:

![image](https:/

[2018-05-08 14:34] #56 closed

[2018-05-08 14:37] #58 closed

[2018-05-08 14:37] #55 closed

[2018-05-08 14:38] estruyf commented on #19
Released with `v1.6.0`.

[2018-05-08 14:38] #19 closed

[2018-05-10 21:22] sprider opened #63 "PropertyFieldColorPicker Palette Icon alignment Issue"
#### Category
- [ ] Bug

#### Version
1.6.0

#### Browser
All major

#### Expected
Fix the alignment issue

#### Observed Behavior
The color palette icon is moving towards right on SharePoint pages with webpart zone but the same works as expected in workbench when we debug

**Workbench page output**
![with workbench page](https://user-images.githubusercontent.com/21008316/39894915-0843b0fc-546e-11

[2018-05-11 21:36] sprider commented on #63
@estruyf Can you reproduce this issue? If so, can we do something to fix this issue temporarily?

[2018-05-22 11:12] estruyf opened #64 "Add npm postinstall script to automatically add the locale config"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Desired Behavior

When installing the controls via NPM it would be useful to automatically configure the `locale` file in the `config.json` file.

[2018-05-23 14:46] harshdamaniahd opened #65 "PropertyFieldTermPicker control"
Is it possible to get terms from a specific term-set instead of getting all groups or all term-set inside a group

[2018-05-26 19:24] estruyf opened #66 "Add a font field type for the collection data"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Expected / Desired Behavior / Question

Add a font type field with preview to the collection data control.

[2018-05-26 19:25] estruyf opened #67 "Add a description to the collection data panel"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Expected / Desired Behavior / Question

Add the option to specify a description to the collection data panel.

[2018-05-27 04:14] harshdamaniahd commented on #65
That's awesome. Its works ..
Thanks @estruyf

[2018-05-27 04:14] #65 closed

[2018-06-01 18:01] SamipPatel opened #68 "PropertyFieldPeoplePicker validation error does not clear as expected."
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

[1.6.0]

#### Expected / Desired Behavior / Question
Added validation function to onGetErrorMessage property of a PropertyFieldPeoplePicker field.  Failed validation on purpose to display error message.  Then updated to a valid value and expected the error message to clear.

#### Observed Behavior
Error message is still displa

[2018-06-04 06:56] estruyf commented on #68
Thanks for reporting this.

[2018-06-06 15:46] estruyf opened #69 "Add a property to the PropertyFieldTermPicker to specify which terms are disabled/not-selectable"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Expected / Desired Behavior / Question

It would nice to have a property which allows you to specify term IDs which may not be used or selectable.

[2018-06-07 08:29] kristianbkjaer opened #70 "Taxonomy picker for enterprise"
#### Category
- [x ] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.6.0]

#### Expected / Desired Behavior / Question
When opening the term picker list, today the complete tree is expanded.
This does not work for comprehensive trees of taxonomy. We intend to use it for our organisation tree with about 3700 nodes in the tree. This lo

[2018-06-08 14:15] bpringe opened #71 "PropertyFieldCollectionData causes gulp serve to throw error"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [  1.6.0   ]

#### Expected / Desired Behavior / Question

Project using PropertyFieldCollectionData should run without error when running `gulp serve`.

#### Observed Behavior

Project throws an error when running `gulp serve` after adding the code from the tutorial he

[2018-06-08 14:18] estruyf commented on #71
You will have to add the localization resources to your config. This is explained in the `configuration` section: https://sharepoint.github.io/sp-dev-fx-property-controls/#configuration

`"PropertyControlStrings": "node_modules/@pnp/spfx-property-controls/lib/loc/{locale}.js"`

This is a manual step you have to do after the installation. This is going to be changed in the next version (v1.7.0). Fr

[2018-06-08 14:28] estruyf opened #72 "Add a URL field type for the collection data"
Add a URL field type with validation to the collection data control.

[2018-06-08 14:31] bpringe commented on #71
My apologies for not realizing. Thank you.

[2018-06-08 14:31] estruyf commented on #71
No problem!

[2018-06-08 14:31] #71 closed

[2018-06-08 16:11] devinprejean commented on #1
FYI, just used this today for PropertyFieldCollectionData and i got the same error.

[2018-06-08 18:49] estruyf commented on #1
@devinprejean this is in the documentation on the start page under getting started and all controls point to it. As mentioned, from the next version you do not have to manually configure it anymore.

[2018-06-11 09:11] estruyf commented on #70
Hi @kristianbkjaer this is good feedback this will require to rewrite the whole component. A good thing is that the PnP team recently released the `@pnp/sp-taxonomy` for the `PnPJS` library [https://pnp.github.io/pnpjs/sp-taxonomy/index.html](https://pnp.github.io/pnpjs/sp-taxonomy/index.html). This allows us to make Managed Metadata calls a lot easier and we could use it in our components.

[2018-06-11 12:00] estruyf commented on #68
@SamipPatel this issue just got fixed in the latest beta.

![people-issue-fixed](https://user-images.githubusercontent.com/2900833/41229028-c27c6098-6d7a-11e8-9190-f2b1c799fb16.gif)

If you want to test it out, here are some instruction of testing out the latest beta version: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-06-13 08:02] #64 closed

[2018-06-13 08:02] #66 closed

[2018-06-13 08:02] #67 closed

[2018-06-13 08:02] #69 closed

[2018-06-13 08:02] #72 closed

[2018-06-13 08:03] estruyf commented on #68
This just got released so going to close this issue. Feel free to open it again it's not fixed.

[2018-06-13 08:03] #68 closed

[2018-06-13 09:02] niranjan747 opened #74 "Validation for PropertyFieldCollectionData"
Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

Version

Please specify what version of the library you are using: [ 1.6.0 ]

Expected / Desired Behavior / Question
I want to perform some validations on Collection Data, for this i require callback option for validation of Collection Data. Either of onGetErrorMessage or onPropertyChange would help. These properties are available in some of the

[2018-06-14 07:22] estruyf commented on #74
@niranjan747 Thank you for testing out the controls. This could indeed be a good enhancement.

[2018-06-14 19:36] wils0nk3 opened #75 "You should put out demos for these"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://sharepoint.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help

[2018-06-15 05:51] VesaJuvonen commented on #75
This repository is actually also a SharePoint Framework client-side web part, which demonstrates usage of these controls. These are also widely used in the SharePoint Starter Kit and in many other samples - See https://github.com/SharePoint/sp-starter-kit. Closing this for now, but absolutely also open for input around what else is missing or should be there. Thx.

[2018-06-15 05:51] #75 closed

[2018-06-15 06:27] kristianbkjaer commented on #70
Sounds great. I really hope for this feature in an upcoming release, but understand that it might be good to wait for the api update. I guess asynchronous load of subtrees become easier then?
Keep crossing my fingers :)

[2018-06-15 12:55] estruyf commented on #70
@kristianbkjaer no API update, it is a new part of the PnP JS Core library.

[2018-06-15 16:29] joelfmrodrigues commented on #21
Started working on this

[2018-06-18 07:40] MarkusLanger opened #76 "PropertyFieldListPicker - has a dependency on "@microsoft/sp-http" that is not declared in the manifest"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
1.7.0

#### Expected / Desired Behavior / Question
A selection list when editing the webpart properties.

#### Observed Behavior
An error after adding the webpart to the page.
![image](https://user-images.githubusercontent.com/12131918/41523331-e8e3e95e-72d9-11e8-98fa-0c345129ed25.png)

`[SPLoaderError.loadComponentError]:
***F

[2018-06-18 10:57] kristianbkjaer commented on #70
Yes, that was also what I meant (but did not write ;)) But the rest of my comment makes sense right?

[2018-06-22 18:49] MarkusLanger commented on #76
It works fine after a clean build and new deployment.
`gulp clean && gulp build && gulp package-solution`

[2018-06-22 18:49] #76 closed

[2018-06-28 07:38] estruyf commented on #70
Yes indeed @kristianbkjaer (y)

[2018-07-04 09:24] tsekityam opened #77 "[PropertyFieldDateTimePicker] Add ability to hide labels in front of the pickers"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: 1.7.0

#### Expected / Desired Behavior / Question
I expected the `PropertyFieldDateTimePicker` should have a look and feel similar to the date time picker we had in SharePoint list.
<img width="587" alt="screen shot 2018-07-04 at 5 01 50 pm" src="https://user-images.gi

[2018-07-05 10:22] joelfmrodrigues commented on #21
Finally managed to complete this, sorry I was too busy and it took a long time

[2018-07-13 06:23] estruyf opened #79 "Implement same telemetry approach as in the @pnp/spfx-controls-react project"
Check the following issue for more information: https://github.com/SharePoint/sp-dev-fx-controls-react/issues/81

[2018-07-13 14:46] #79 closed

[2018-07-13 14:47] estruyf commented on #21
Thanks @joelfmrodrigues, this got merged and released in v1.8.0 today.

[2018-07-13 14:47] #21 closed

[2018-07-17 23:03] Katli95 opened #81 "[PropertyFieldOrder] Appending to an array doesn't reflect in order"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
_Pretty sure this is a bug because I'd expect changing the property would affect this field_
#### Version:  [1.8.0]

#### Expected / Desired Behavior
I expected to be able to sort an array that drew it's contents from the PropertyFieldMultiSelect field.

#### Observed Behavior
Once I choose an option with the PropertyFieldMultiSelect it does

[2018-07-25 06:52] kristianbkjaer commented on #70
Any news on this? Is it assigned to some roadmap or being worked on?
*cross my fingers here* :)

[2018-07-30 07:37] estruyf opened #82 "Dutch localization"
#### Category
[x] Enhancement
[ ] Bug
[ ] Question

Add Dutch localization labels

[2018-07-30 07:38] estruyf opened #83 "German localization"
#### Category
[x] Enhancement
[ ] Bug
[ ] Question

Add German localization labels

[2018-07-30 07:38] estruyf opened #84 "French localization"
#### Category
[x] Enhancement
[ ] Bug
[ ] Question

Add Dutch localization labels

[2018-07-30 14:34] estruyf commented on #77
Thanks @tsekityam for the suggestion!

[2018-07-30 14:36] estruyf commented on #81
Thanks @Katli95 for reporting this.

@thechriskent could you check this one?

[2018-07-31 15:19] estruyf commented on #70
At the moment it's not assigned to anyone.

[2018-08-01 07:55] harshdamaniahd opened #85 "PropertyPaneMultiSelect is not retaining preselected values"
The problem is the once i set the values and then save the changes, the next time when i open the webpart configuration the multiselect values are not retained.

[code]
Here is the screen shot , the value for normal dropdown are retained.But it is not working for multiselect

![image](https://user-images.githubusercontent.com/11780473/43508713-4b67b78c-958e-11e8-871e-abc96a623c36.png)

Code on sta

[2018-08-02 10:14] splearner commented on #74
Kindly help me out to validate the URL in collection Data.

[2018-08-04 16:28] tsekityam commented on #77
I will write a patch to remove those labels from the control.

[2018-08-07 10:56] estruyf opened #86 "PropertyFieldCollectionData: Add an option to specify a default value"
Add a default value option for the `PropertyFieldCollectionData` fields.

[2018-08-07 10:59] estruyf opened #87 "PropertyFieldCollectionData: override placeholder for the inputs"
Add the option to override the placeholder for the input fields.

[2018-08-07 11:42] estruyf opened #88 "PropertyFieldCollectionData: Hide save button when "Add and save" is shown"
Confusing to have two save buttons, hide **save** when **add and save** gets enabled.

[2018-08-08 13:03] estruyf commented on #88
![collectiondate-save-update](https://user-images.githubusercontent.com/2900833/43838618-2c532e38-9b1c-11e8-8664-d1427b88acb2.gif)

[2018-08-08 13:04] estruyf commented on #87
![screenshot 2018-08-08 14 59 06](https://user-images.githubusercontent.com/2900833/43838676-53d7df1c-9b1c-11e8-91ce-f11db266eb9d.png)

[2018-08-08 13:42] estruyf commented on #86
![collectiondate-defaultvalue](https://user-images.githubusercontent.com/2900833/43840729-a73fa360-9b21-11e8-8773-1ea804a62e6d.gif)

[2018-08-08 16:14] estruyf commented on #74
Custom validation is coming for the string, number, icon and URL fields.

![collectiondata-validation](https://user-images.githubusercontent.com/2900833/43849948-ed0a6eb0-9b36-11e8-98c9-7615003a4d0d.gif)

[2018-08-09 10:04] estruyf commented on #85
This is an issue in the Office UI Fabric control used behind the scenes which seems to have issues when async options are provided. I did an update to the control so that it is supported.

Here you can see the result:
![multiselect-async](https://user-images.githubusercontent.com/2900833/43892497-65100024-9bcc-11e8-8ee8-1a9e3998c26a.gif)

[2018-08-09 11:01] estruyf commented on #81
@Katli95 the issue got fixed and will be in version 1.9.0 of the controls release.

Here you can see the result:
![orderfield-async](https://user-images.githubusercontent.com/2900833/43893761-5cae8258-9bd0-11e8-818b-910a64e04d94.gif)

You can always test out the latest beta: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-08-09 11:03] #81 closed

[2018-08-09 11:04] #85 closed

[2018-08-09 11:04] #88 closed

[2018-08-09 11:04] #87 closed

[2018-08-09 11:04] #86 closed

[2018-08-09 11:05] estruyf commented on #74
This will be available as of version 1.9.0. The beta can already be tested: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-08-09 11:05] #74 closed

[2018-08-09 11:10] Katli95 commented on #81
Awesome! Love the work your doing and look forward to participating myself. I would have fixed the issue myself but I feel reluctant to alter any of the source code as I've only been working in Web Development since the SPFx got released in February last year.

[2018-08-10 14:53] sebastienlevert commented on #84
I can take care of this one @estruyf! Anything I should know before I start?

[2018-08-13 07:09] estruyf commented on #84
@sebastienlevert, that would be great!

[2018-08-15 03:22] petecuttriss opened #90 "PropertyFieldPeoplePicker - No suggestions returned when using Security Groups, Multi-select and NO duplicates."
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version 1.9.0

#### Expected / Desired Behavior / Question
Using the PropertyFieldPeoplePicker, I have set it so that allowDuplicates is false, multiSelect is true and the principalType is PrincipalType.Security.   I would expect to be able to select multiple security groups.  After making a single initial selection, and then when I be

[2018-08-22 21:41] spplante opened #92 "Add the current row's information in the onGetErrorMessage callback"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

1.9.0

#### Expected / Desired Behavior / Question
When using the **onGetErrorMessage** callback on a text field, it would be great to have a second parameter **currentRow: any** in the callback in order to give the user the possibility to do some validations based on the other fields of the current row.

For example, if I hav

[2018-08-26 23:41] petecuttriss opened #93 "PropertyFieldPeoplePicker - Security groups come back with EntityType of FormsRole rather then SecGroup"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version

Please specify what version of the library you are using: [ 1.9.0  ]

#### Expected / Desired Behavior / Question
Hi, I'm using the PropertyFieldPeoplePicker in my web part solution to enable people to select from security groups [PrincipalType.Security].   When doing this, the object which is returned for the property, only h

[2018-09-06 14:02] estruyf commented on #93
Thanks @petecuttriss I will enhance the control.

[2018-09-06 14:12] estruyf commented on #93
Fix is included in the latest beta which will be released in version `1.10.0`. More information to test out a beta version can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/ Thanks again for reporting this.

[2018-09-06 14:13] estruyf commented on #92
Thanks @spplante for reporting this. I will work on this one to get it included in version `1.10.0`.

[2018-09-06 14:45] estruyf commented on #92
I pushed a change for this to support this. The callback provides you with the current value you are editing, index of the row and the item itself with all its properties.

Here is an example of a new item:

![screenshot 2018-09-06 16 30 40](https://user-images.githubusercontent.com/2900833/45164937-f4fa1700-b1f3-11e8-92b4-fb375a90aa18.png)

Here is an example of a stored item:

![screenshot 2018-

[2018-09-06 14:50] spplante commented on #92
Good stuff!

[2018-09-06 15:01] estruyf commented on #90
Thanks @petecuttriss for reporting this. I have fixed this bug and will be available in version `1.10.0`. You can already test out the beta via: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

![security-group](https://user-images.githubusercontent.com/2900833/45166065-72bf2200-b1f6-11e8-8db7-b46c5dac8fe2.gif)

[2018-09-07 13:27] estruyf opened #94 "PropertyFieldTermPicker: Terms which are set as unavailable for tagging are still selectable"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Terms which are set to not be used for tagging are still selectable.

Same as: https://github.com/SharePoint/sp-dev-fx-controls-react/issues/109

[2018-09-07 13:29] estruyf commented on #94
A fix for this will be included in version `1.10.0`.

![screenshot 2018-09-07 15 27 40](https://user-images.githubusercontent.com/2900833/45221794-dd359800-b2b2-11e8-9d52-5c2ab85e8a79.png)

[2018-09-11 23:47] petecuttriss commented on #90
Hi Elio,

I've tested out this fix in the beta and it's working great.

Thanks
Pete

[2018-09-11 23:48] petecuttriss commented on #93
Hi Elio,

I've tested out this enhancement in the beta and it's working great.

Thanks
Pete

[2018-09-12 06:08] estruyf commented on #90
Thanks for testing it!

Will close this issue. The release of the new version is planned later this week.

[2018-09-12 06:08] #90 closed

[2018-09-17 07:45] estruyf commented on #94
Closing the issue as it got released in version `1.10.0`.

[2018-09-17 07:45] #94 closed

[2018-09-17 07:45] estruyf commented on #93
Closing the issue as it got released in version `1.10.0`.

[2018-09-17 07:45] #93 closed

[2018-09-17 07:45] estruyf commented on #92
Closing the issue as it got released in version `1.10.0`.

[2018-09-17 07:45] #92 closed

[2018-09-17 07:47] estruyf opened #96 "PropertyFieldCollectionData: Show error messages"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.10.0]

#### Expected / Desired Behavior / Question

Provide a way to show error messages in the `PropertyFieldCollectionData` panel.

[2018-09-17 13:15] estruyf commented on #96
This will be available in version `1.11.0`.
![collectiondata-error-msgs](https://user-images.githubusercontent.com/2900833/45625191-91da7100-ba8c-11e8-9a05-4674e61fd49a.gif)

[2018-09-21 07:38] estruyf commented on #96
This is now available as of version `1.11.0`.

[2018-09-21 07:38] #96 closed

[2018-09-21 11:09] estruyf opened #98 "PropertyFieldCollectionData: Allow the user to specify a deferred validation time for each field"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.11.0]

#### Expected / Desired Behavior / Question

Add a new property on the field to specify the `deferredValidationTime`.

[2018-09-28 10:56] Toonshorty opened #99 "PropertyFieldCollectionData crashes browser while editing URL"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.11.0]

#### Observed Behavior
I haven't been able to narrow down what triggers this bug exactly, but when trying to copy in a SharePoint link with encoding (e.g. %20), the browser will lock up and throw an alert about a slow running script. I have replicated this in

[2018-10-02 11:31] Taerarenai opened #100 "Property Control files not found"
#### Category
- [ ] Enhancement
- [ X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.11.0 ]

#### Expected / Desired Behavior / Question
Well i'd expect it to work.

#### Observed Behavior
[code]

#### Steps to Reproduce
Install property controls, follow the steps here -> https://sharepoint.github.io/sp-dev-fx-property-controls/controls/PropertyFiel

[2018-10-02 11:39] #100 closed

[2018-10-05 16:50] deanbot opened #102 "PropertyFieldCollectionData dropdown field render method"
#### Category
- [x] Enhancement

#### Version

1.10.0

#### Desired Behavior
Within fields declaration in a PropertyFieldCollectionData, an optional 'render' property to allow for customizing the output individual items in a dropdown field.

[code]

msBackgrounds.module.scss
[code]

#### Observed Behavior
There is no ability to customize the output of items PropertyFieldCollectionData dropdown typ

[2018-10-10 20:13] mmsharepoint commented on #83
Can Takeover this soon if appreciated how I did it for the SPFx React controls:
https://github.com/SharePoint/sp-dev-fx-controls-react/issues/101

[2018-10-25 14:05] estruyf opened #105 "PropertyFieldOrder: updates required to support office-ui-fabric-react version 5.120.0"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

In order to support Office UI Fabric version `~5.120.0`, the `PropertyFieldOrder` control needs to be updated.

[2018-10-25 16:15] estruyf commented on #99
Apparently, it causes some catastrophic backtracking issue in regex.

[2018-10-26 08:09] estruyf commented on #99
Solved the bug by implementing a new RegEx statement. Would you be able to test it out in the latest beta? You find more information about installing a beta version here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-10-26 11:40] Toonshorty commented on #99
Fantastic, thanks Elio. The beta seems to be behaving much better.

[2018-10-26 11:52] estruyf commented on #99
@Toonshorty thanks for verifying!

[2018-10-30 07:03] estruyf opened #107 "Hide callout from the controls with callout if no message is provided"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [all]

#### Expected / Desired Behavior / Question

When the message is empty for a callout control, the callout icon is still displayed. It would be better to hide the icon when no message is provided.

PR #106 from @erwinvanhunen includes this change.

[2018-10-30 07:06] estruyf opened #108 "PropertyWebPartInformation: New control to show more information about the current web part"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

New `PropertyWebPartInformation` control to provide more information about the current web part. This makes it easier for the user configuring the web part to see a description, who created it, a video how to config

[2018-10-30 10:48] zshane15 opened #109 "Ability to refresh PropertyFieldListPicker target site while pane is open"
#### Category
- [x] Enhancement
- [ ] Bug
- [X] Question

#### Version
[1.11.0]

#### Expected / Desired Behavior / Question
Is there a way to refresh/update the webAbsoluteUrl property of a PropertyFieldListPicker field while the pane is open? I have a custom string property named siteUrl which is used to populate the webAbsoluteUrl property for a list picker. When the pane opens, and the siteUrl

[2018-11-01 12:17] waldekmastykarz commented on #109
I stumble upon exactly the same. It seems that loading lists from the specified site happens only on component mount rather than when properties have been changed.

[2018-11-05 09:30] joelfmrodrigues opened #112 "Date picker hiding dropdown values"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [   1.11.0      ]

#### Expected / Desired Behavior / Question
Open dropdowns and be able to pick the correct values

#### Observed Behavior
Values are not displayed, instead we see '...'
![date-picker](https://user-images.githubusercontent.com/19577724/47989550-3537220

[2018-11-05 09:41] joelfmrodrigues opened #113 "PropertyFieldCollectionData text box issues"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [    1.11.0     ]

#### Expected / Desired Behavior / Question
Being able to safely edit values on text boxes

#### Observed Behavior
When editing the text boxes of the test web part within the project, first name and last name start behaving badly.

#### Steps to Repro

[2018-11-05 12:31] estruyf commented on #109
@zshane15 this would be a good update to the control. Will add it as an enhancement.

[2018-11-05 12:34] estruyf opened #114 "PropertyPanePropertyEditor: Control that allows you to export/import property pane settings"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Add a new control which allows you to export and import property pane settings of the web part.

This control is already included in PR #110 from @erwinvanhunen

[2018-11-05 16:51] estruyf commented on #109
I have implemented an enhancement to the single and multi-list picker controls. Feel free to test out the latest beta. More information about how you can do this can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-11-05 17:31] zshane15 commented on #109
Thanks @estruyf the beta works great! Exactly what I needed.

[2018-11-05 17:31] #109 closed

[2018-11-13 08:48] harshdamaniahd opened #116 "PropertyFieldListPicker Refresh issue when value in textbox changes"
Hi,
I am using three controls :
1. **PropertyPaneTextField** : stores site url
2.**PropertyFieldListPicker** : stores names of list
3.**PropertyPaneDropdown**: stores names of columns

When the value of **PropertyPaneTextField** changes , I want the **PropertyFieldListPicker** to refresh but it is not working.
When the value of **PropertyFieldListPicker** changes, **PropertyPaneDropdown** gets ref

[2018-11-13 08:55] harshdamaniahd commented on #116
Sorry closing this issue  , as it is working after upgrading to beta version : npm install @pnp/spfx-property-controls@next --save

[2018-11-13 08:55] #116 closed

[2018-11-13 08:56] harshdamaniahd commented on #109
Tested and works

[2018-11-14 11:01] estruyf commented on #114
Version `1.12.0` has just been released.

[2018-11-14 11:01] #114 closed

[2018-11-14 11:01] estruyf commented on #108
Version `1.12.0` has just been released.

[2018-11-14 11:01] #108 closed

[2018-11-14 11:01] estruyf commented on #107
Version `1.12.0` has just been released.

[2018-11-14 11:01] #107 closed

[2018-11-14 11:01] estruyf commented on #102
Version `1.12.0` has just been released.

[2018-11-14 11:01] #102 closed

[2018-11-14 11:01] estruyf commented on #99
Version `1.12.0` has just been released.

[2018-11-14 11:01] #99 closed

[2018-11-14 11:02] estruyf commented on #98
Version `1.12.0` has just been released.

[2018-11-14 11:02] #98 closed

[2018-11-14 11:02] estruyf commented on #84
Version `1.12.0` has just been released.

[2018-11-14 11:02] #84 closed

[2018-11-14 11:02] estruyf commented on #82
Version `1.12.0` has just been released.

[2018-11-14 11:02] #82 closed

[2018-11-18 23:14] AJIXuMuK opened #120 "Load labels for terms in Taxonomy Picker"
#### Category
- [x] Enhancement
- [ ] Bug
- [x] Question

#### Version

Please specify what version of the library you are using: [1.12.0]

#### Expected / Desired Behavior / Question
Hey folks!
What do you think about adding a feature of requesting labels for terms in Taxonomy Picker?
My initial idea is to add a property, something like `includeLabels`.
If it is set to true then we request labels

[2018-11-30 16:46] FranckyC opened #121 "PropertyFieldCodeEditor- Handle initial value update when new props"
In the PropertyFieldCodeEditor field, the initial value is only set at mount time and can't be updated afterwards. It could useful to handle the value update when receiving new props.

This scenario happens in the react-search-refiners sample when the user chooses a different layout resulting to initial value to be updated for the selected layout.

#### Category
- [ X] Enhancement
- [ ] Bug
- [ ]

[2018-12-01 23:10] FranckyC opened #122 "PropertyFieldCollectionData - Support custom fields with string values (i.e. code editor)"
I'm currently working to integrate a result types feature to the react-search-refiners sample and I would like to use the PropertyFieldCollectionData to edit the HTML code for a specific condition set. With current options, I'm able to render the condition as string fields (property, operator, and value) but I'm struggling to add a code editor field.

My first attempt was to use the onRenderOption

[2018-12-04 10:13] jesseve opened #123 "Sorting the data in PropertyFieldCollectionData collectionData"
[X] Question

#### Version

Please specify what version of the library you are using: [1.12.0]

I am using the PropertyFieldCollectionData control and have a list of items set up for the collectionData. When I display the collection data the order is random and not same as shown in the control popup. I tried adding a number field but it allows for duplicate values and I couldn't attach any event l

[2018-12-06 09:49] estruyf commented on #123
@jesseve that would be a great enhancement for the control!

[2018-12-06 11:18] estruyf commented on #113
Hi @joelfmrodrigues it was indeed a bug.

Current behavior in `v1.12.0`:

![debounce-issue](https://user-images.githubusercontent.com/2900833/49581058-0668d180-f951-11e8-8f69-5a4887e710a6.gif)

Added a fix to resolve this issue:

![debounce-issue-fix](https://user-images.githubusercontent.com/2900833/49581086-1680b100-f951-11e8-930e-3dba60af086d.gif)

[2018-12-06 11:35] estruyf commented on #121
A fix has just been added for this issue. Feel free to test out the latest beta to check if it is fixed for your solution. More information about installing a beta version can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-12-06 15:20] estruyf commented on #123
@jesseve this has now be implemented and will be available with the `v1.13.0` release. Feel free to test out the latest beta to see if it fit your needs. More information about installing a beta version can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-12-06 15:41] FranckyC commented on #121
Thanks @estruyf! I'll test this ASAP.

[2018-12-06 16:16] estruyf commented on #122
@FranckyC this is an amazing idea which is now implemented in the current beta version.

Feel free to test it out and check if it meets your needs. The initial implementation is very basic, it allows you to override the rendering and tell the value to update.

More information about how to install a beta version can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

The

[2018-12-06 16:19] FranckyC commented on #122
Nice, I'll test this ASAP.

[2018-12-06 18:53] FranckyC commented on #121
@estruyf Unfortunately, it doesn't work. After reviewing your commit it seems you take `props` instead of `nextProps` when setting the new code value. Should it be nextProps instead?

[code]

[2018-12-06 19:46] estruyf commented on #121
My mistake will update it right away.

[2018-12-06 19:50] estruyf commented on #121
Fix is in, and the beta release should be out in any minute now.

[2018-12-06 20:20] FranckyC commented on #121
Works like a charm! Thanks @estruyf
![untitled project](https://user-images.githubusercontent.com/5659122/49609759-78014980-f96a-11e8-9a83-e900d9a53da8.gif)

[2018-12-07 09:49] estruyf commented on #9
@russgove this has finally been implemented. I have introduced a new `targetSiteUrl` property on the `PropertyFieldPeopleFinder` control to allow you to search users only on specified sites.

If you want, you can test it out in the latest beta version of `v1.13.0`. More information about how to install a beta version can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2018-12-10 09:39] jesseve commented on #123
Wow, that was fast. I will test this out, thank you!

[2018-12-10 09:39] #123 closed

[2018-12-11 04:00] FranckyC commented on #122
@estruyf Works as expected. Thanks!

![image](https://user-images.githubusercontent.com/5659122/49777657-66ec6b80-fccf-11e8-9a48-890a5424425e.png)

Do you have an ETA for the 1.13.0 release?

[2018-12-11 19:07] estruyf commented on #122
Amazing news @FranckyC, aiming for later this week.

[2018-12-11 19:39] AJIXuMuK commented on #120
@estruyf
I'll start working on the control probably later this week.
I'll be aiming a separate controls, say, `EnterpriseTaxonomyPicker`.
It will use separate "service" for getting terms info that will be also implemented as a separate class, not new methods in existing Taxonomy service. In that case new control will be totally separated.

For now I'll be working on lazy loading (#70) and labels.

[2018-12-12 12:50] estruyf commented on #105
This will be included in `v1.13.0`.

[2018-12-12 12:50] #105 closed

[2018-12-13 16:38] estruyf commented on #120
@AJIXuMuK that sounds great! I will see your PR coming.

[2018-12-13 18:12] FranckyC opened #128 "PropertyFieldCollectionData - 1.13.0 - 'Each child in an array or iterator should have a unique "key" prop' on first WP configuration"
After installing the new released 1.13.0 version, the sorting seems to break (see screenshot). Using the beta version was fine.

#### Category
- [ ] Enhancement
- [ X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.13.0]

The property pane property is configured as follow (with enableSorting):

[code]

![image](https://user-images.githubusercontent.c

[2018-12-13 18:36] FranckyC commented on #128
This error only appears during the first instantiation.

[2018-12-13 19:19] estruyf commented on #128
@FranckyC that's indeed weird, will check out what's going on, and release a bug fix.

[2018-12-13 19:53] #122 closed

[2018-12-13 19:53] #121 closed

[2018-12-13 19:53] #113 closed

[2018-12-13 19:53] #112 closed

[2018-12-13 19:53] #9 closed

[2018-12-13 20:07] estruyf commented on #128
It seems to only occur in the local workbench. Just released `v1.13.1` as a beta with the included fix.

[2018-12-14 02:43] AJIXuMuK commented on #120
@estruyf there are few things I want to resolve in `@pnp/sp-taxonomy` before implementing this one.
[https://github.com/pnp/pnpjs/issues/420](https://github.com/pnp/pnpjs/issues/420) and
[https://github.com/pnp/pnpjs/issues/419](https://github.com/pnp/pnpjs/issues/419)

[2018-12-17 09:41] #128 closed

[2018-12-17 09:43] estruyf opened #130 "PropertyFieldCollectionData: Add the option to disable creation of new items"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Add the option/setting to specify if the creation of new items in the collection control is disabled. That way, you are only allowed to make changes to the already specified data.

[2018-12-17 09:46] estruyf opened #131 "PropertyFieldCollectionData: Setting to specify if item deletion is disabled"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Add an option to specify if item deletion is enabled or disabled.

[2018-12-17 16:43] estruyf opened #132 "PropertyFieldCollectionData: Add a setting to specify if field change is enabled/disabled"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Add a property/setting to specify if a field is disabled for editing

[2018-12-20 11:54] raymondlittle100 commented on #116
@harshdamaniahd did you get this working in the end? I'm having issues if an invalid site Url is supplied. If valid Url was provided then changed to an invalid one it retains the original list it doesn't clear it

![image](https://user-images.githubusercontent.com/23637375/50283511-fd4a2b00-044d-11e9-8fa6-7b16709e05fb.png)

[2018-12-21 09:10] estruyf opened #133 "PropertyFieldTermPicker: Incorrect sort order with lowercase names"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Related to https://github.com/SharePoint/sp-dev-fx-controls-react/issues/205

[2018-12-21 09:12] estruyf commented on #133
Will be available in the next release.

[2018-12-21 09:12] #133 closed

[2018-12-24 21:38] robpearmain opened #134 "PropertyFieldListPicker onGetErrorMessage not disabling Apply Button"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [    1.13.1    ]

#### Expected / Desired Behavior / Question

Property Pane apply disabled and message displayed if no list selected

#### Observed Behavior

Error message does not appear until you select a blank item (e.g. select list then select blank) and does not e

[2018-12-29 00:30] spplante opened #135 "PropertyFieldCollectionData: Bug with onCustomRender()"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
1.13.1

#### Expected / Desired Behavior / Question
**onCustomRender** should only be called once on initial row creation

#### Observed Behavior
I tried using the **onCustomRender** function in order to use an **AsyncDropdown** I created myself which loads it's options async. Everything works perfect on the initial loading of

[2019-01-03 05:24] RogerZhang-CatapultSystems opened #137 "Chinese localization needed for property controls"
#### Category
- [ ] Enhancement

#### Version
We are using latest package 1.13.1

#### Expected
Property controls support Chinese language.

Thanks!

[2019-01-03 05:42] RogerZhang-CatapultSystems opened #138 "[PropertyFieldColorPicker]: Add isVisible property"
#### Category
- [ ] Enhancement

#### Version
We are using latest package 1.13.1

#### Expected
PropertyFieldColorPicker need to support isVisible property.

FYI:  As we have the user scenario of setting the background of the web part. In the web part's configuration pane, we provide client an drop down property called background-color setting, which provide client the options: 'Use Site Theme', "

[2019-01-03 15:20] raymondlittle100 commented on #116
@estruyf do you know is this a known bug? Should I raise a different ticket for this?

[2019-01-04 08:41] harshdamaniahd commented on #116
you can do validation for when entering site url

[2019-01-04 09:07] raymondlittle100 commented on #116
@harshdamaniahd when you do the validation if it fails then the value isn't saved. This means the user enters an incorrect value, they see the error but if they close the web part panel the value isn't retained. I don't find that particularly useful because when they open the panel again the value they entered is gone so I was hoping this control would show blank or an error if an incorrect site u

[2019-01-10 06:21] AJIXuMuK commented on #120
One more issue from `@pnp/sp-taxonomy` to track: [#449](https://github.com/pnp/pnpjs/issues/449)

[2019-01-10 09:20] karokuusikallio opened #143 "PropertyFieldTermPicker: Layout Issues"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://sharepoint.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help

[2019-01-10 09:39] estruyf commented on #143
Thanks for logging this issue, will check what is going on here. As nothing has been changed to the control in version `1.12.0`, `1.13.0` and `1.13.1` it could be related to Office UI Fabric or SharePoint styling.

[2019-01-12 18:24] spplante opened #145 "[PropertyFieldDropdownWithCallout]: Options of type "Divider" and "Header" are ignored"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
1.13.1

#### Expected / Desired Behavior / Question
When using the **PropertyFieldDrdopdownWithCallout**, we should be able to specify options that have their **type** property set to **PropertyPaneDropdownOptionType.Header** or **PropertyPaneDropdownOptionType.Divider** in order to display headers and dividers accordingly in t

[2019-01-12 22:09] hugoabernier opened #146 "Consider exporting PlaceholderWithCallout"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 1.13.1 ]

#### Expected / Desired Behavior / Question

The property controls with callouts are all great. However, I often find myself looking for a PnP property control that doesn't have callouts, or find myself wishing that the standard SPFx property controls had th

[2019-01-14 03:48] AJIXuMuK commented on #145
Will look into it...

[2019-01-14 03:51] AJIXuMuK commented on #146
Hi @hugoabernier!
I think it's a good idea and if you already have a plan in your head I think PR from you would be the best thing to have :)

[2019-01-14 05:04] hugoabernier commented on #146
Happy to oblige. Will submit a PR as soon as I can.

[2019-01-15 12:30] estruyf opened #147 "PropertyFieldCollectionData: return the item in the custom renderer"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Return the item as a fourth parameter. This allows you to add additional logic to the control to render.

[2019-01-15 12:35] estruyf commented on #147
Will be part of the `1.14.0` release.

[2019-01-15 12:35] #147 closed

[2019-01-17 00:37] DanSantoDomingo commented on #121
Hello im new to sharepoint framework and react.. what i want to do is set the webpart code as the initial value.. i tried putting this.domElement but wont work.. also what should i put inside the onPropertyChange to save the changes?

[2019-01-19 09:48] estruyf commented on #137
Will be included in version 1.14.0

[2019-01-19 09:48] #137 closed

[2019-01-19 12:32] estruyf commented on #70
The control that @AJIXuMuK created will be available in version `1.14.0`. @kristianbkjaer feel free to test out the latest beta version to see if the `PropertyFieldEnterprisePicker` fits your needs.

More information on how to install a beta version can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2019-01-19 12:42] estruyf commented on #143
@karokuusikallio would you be able to include some screenshots to show the issue and the expected result?

[2019-01-19 13:46] estruyf commented on #132
This will be available in the `1.14.0` release.

[2019-01-19 13:46] #132 closed

[2019-01-19 13:54] estruyf commented on #131
This option will become available in version `1.14.0`.

[2019-01-19 13:54] #131 closed

[2019-01-21 15:21] estruyf commented on #143
I have implemented a change. The tags should now show up as follows:

![screenshot 2019-01-21 15 02 14](https://user-images.githubusercontent.com/2900833/51482963-1836f480-1d98-11e9-9c1b-ad694a929835.png)

Feel free to test out the latest beta which includes this fix. More information about this can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2019-01-24 16:34] estruyf commented on #143
The fix has been released in `1.14.0`, if it would still occur, feel free to reopen the issue.

[2019-01-24 16:34] #143 closed

[2019-01-24 16:34] #120 closed

[2019-01-24 16:34] #70 closed

[2019-01-25 07:13] gristy58 opened #149 "Cannot interact with controls"
#### Category
- [ ] Enhancement
- [ x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [  installed today how can i check?      ]

#### Expected / Desired Behavior / Question
Able to interact with the control

#### Observed Behavior
Control cannot be touched i.e. cannot pick new colours from all 3 of the controls.

On my 2nd control one slider (middle) m

[2019-01-28 19:37] TheTedAdams opened #150 "[PropertyFieldNumber] Improper handling of falsey minValue or maxValue of 0"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.14.0]

#### Expected / Desired Behavior / Question
Expected that if `minValue` is set to `0`, negative numbers will not be allowed.

#### Observed Behavior
When minValue is set to 0, negative numbers are allowed.

#### Steps to Reproduce
Add the control with `minValu

[2019-01-28 19:48] TheTedAdams opened #151 "[PropertyFieldNumber] Decimal / Float values are rounded to ints"
#### Category
- [x] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.14.0]

#### Expected / Desired Behavior / Question
Expected that when inputting a decimal value, the decimal number would be passed to my web part properties.

#### Observed Behavior
Decimals are parsed to ints.

#### Additional Comments
I realize that this is a Prop

[2019-01-30 22:16] TheTedAdams opened #152 "[PropertyFieldOrder] When items is an empty array, component renders the text "0""
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

1.14.0

#### Expected / Desired Behavior / Question
When passing an empty array to items, the control should render nothing under the label (Or, even nicer, some text stating there are no items)

#### Observed Behavior
When the items array is empty, the control renders the text "0" under the label.

#### Steps to Reproduce
Add

[2019-01-30 22:23] TheTedAdams commented on #152
Just to add one clarification to this, because the obvious question is why am I rendering this control when items is empty?

For context, I am using this control in combination with the PropertyFieldMultiSelect to allow the user to add and remove items from the array, and just beneath that control the order of items in the array.

The problem is because this control has no hidden param, to hide it

[2019-01-31 12:57] estruyf opened #153 "TaxonomyPicker: Terms are sorted incorrectly under the wrong parent"
#### Category
[ ] Enhancement
[x] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [all]

#### Expected / Desired Behavior / Question

Terms are visualized under the wrong parent, this has to do with the sorting operation which is performed after all terms are retrieved.

![screenshot 2019-01-31 at 13 55 28](https://user-images.githubusercontent.com/2900833

[2019-01-31 13:49] estruyf commented on #153
A fix for this will be included in `v1.14.1`.

[2019-01-31 13:49] #153 closed

[2019-02-03 22:13] spplante opened #154 "PropertyFieldChoiceGroupWithCallout: iconProps not working"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
1.13.1

#### Expected / Desired Behavior / Question
When using the **PropertyFieldChoiceGroupWithCallout**, specifying the **iconProps** property in combination with the **officeFabricIconFontName** should render choice buttons with an icon instead of a regular radio button, just like the OOTB **PropertyPaneChoiceGroup**

####

[2019-02-08 12:19] gbminnock opened #156 "EnterpriseTermPicker loading children under wrong nodes."
Hi I am have some issues with the terms. They seem not to be loading correctly. The children seem to be sorted but are not attached to the correct parents.

Thanks,
Gary

#### Category
- [ ] Bug

#### Version

Please specify what version of the library you are using: [    1.14.0     ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an iss

[2019-02-08 12:37] AJIXuMuK commented on #156
Hi @gbminnock,
Could you please provide screenshots of how the component’s tree is rendered and how the hierarchy looks at Term Management Store?

[2019-02-08 13:51] estruyf commented on #156
@gbminnock this is probably related to: #153. I already implemented a fix for this. You can verify it yourself by installing the latest beta version. More information how you can install the latest beta can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2019-02-08 13:52] estruyf opened #157 "TaxonomyPicker: Issue with custom sort order of items underneath root terms"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.14.0]

#### Expected / Desired Behavior / Question

Issue related to: https://github.com/SharePoint/sp-dev-fx-controls-react/issues/231

[2019-02-08 13:59] #157 closed

[2019-02-08 17:56] malcom1120 opened #158 "CustomCollectionFieldType.dropdown doesn't open on focus"
#### Category
- [X] Enhancement
- [X] Bug
- [ ] Question

#### Version

 1.14.0

#### Expected / Desired Behavior / Question

When tabbing across a row, the dropdown field type should open automatically to indicate it is a dropdown option.

#### Observed Behavior

When tabbing across a row, the dropdown field type doesn't open the list options automatically.

#### Steps to Reproduce

Create a coll

[2019-02-08 18:06] dgrooms opened #159 "The abbreviation for Wed is Web in the calendar popout"
![github](https://user-images.githubusercontent.com/29958427/52496777-e98f8b00-2b99-11e9-8cce-4252fba9be75.png)

The issue is shown on your docs page.

Dave

[2019-02-08 20:52] malcom1120 opened #160 "CustomCollectionFieldType.fabricIcon - Consider typeahead for icon name"
#### Category
- [X] Enhancement
- [ ] Bug
- [ ] Question

#### Version

1.14.0

#### Desired Behavior

To make the icon field type easier to use for the simple consumer, it would be nice to have a type ahead feature for the user when they start typing for the name.  I have found that even as a developer, it have to go to the icon lookup page a lot to get the correct name.

[2019-02-09 17:25] hugoabernier opened #161 "Any interest in a File Picker property control?"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Expected / Desired Behavior / Question

I recently created a file picker control for a sp-dev-fx-webparts sample. It was designed to be almost identical to the out-of-the-box file picker, with support for OneDrive, sites, upload, link, recent, and web search features. The sample itself (the "comparer" component) was almost a throwaway

[2019-02-09 18:00] hugoabernier opened #162 "Markdown property pane control?"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Expected / Desired Behavior / Question

I recently needed a way to add help in a web part property pane that shows users the syntax they should use -- similar to what the out-of-the-box Markdown web part does.

Here is the out-of-the-box Markdown web part's property pane:
![Markdown within Markdown](https://github.com/hugoabernier/reac

[2019-02-09 18:46] AJIXuMuK commented on #161
I’m definitely interested! =)

[2019-02-09 22:07] estruyf commented on #161
@hugoabernier definitely interesten in it, but I would recommend to not invest too much time in it. This is on my list to investigate how we can leverage what the first party controls are using.

Just to give a bit more background information. In the initial release of the controls, the control was supposed to be included, but we never received the permission to use the APIs.

ATM Microsoft is als

[2019-02-09 22:12] estruyf commented on #160
@malcom1120 thank you for your idea. Initially this was the case that we worked with a predefined list. The issue with it, is that it changes so often, that it could be that you can use or can’t use a specific icon. The icon font is already loaded by SharePoint itself, this is something we do not own. Which makes it even harder to guess which icons would be available.

An option would be, that we

[2019-02-09 23:06] malcom1120 commented on #160
I think that is a great start as it really needs a type ahead to make it user friendly outside developers, but in my other coding I found that all the registered Icons are in the SP global settings variable.  Do you think you could make it query that array? I think there is a way to get it from the Fabric React package as well. I definitely like the idea of not limiting it to the look ahead values

[2019-02-10 00:52] malcom1120 commented on #160
I was looking through the Office UI React package and it looks like there is a IconNames enum in the @uifabric/icons package.

[2019-02-10 03:59] hugoabernier commented on #161
@estruyf the control is already written, so I'm not planning on spending more time on it unless we plan on adding it as a control.

To be honest, I would prefer it if there was a first party version.

Let me know what you find. In the meantime, those who need such a control can always use the code from my repository.

[2019-02-11 08:42] gbminnock commented on #156
Hi @AJIXuMuK & @estruyf,

I've installed the beta release this morning but am still seeing the same issue.
**version**
`"@pnp/spfx-property-controls": "1.14.1-beta.db31aed"`
**pnp version**
[code]
I have copied the test case provided by the user in #153.

#### term store management
![image](https://user-images.githubusercontent.com/2708345/52552594-c0a90900-2dd8-11e9-9eb8-f4f9bb6b1f86.png)

#### w

[2019-02-11 09:25] estruyf commented on #156
@gbminnock overlooked the enterprise part, so it could indeed be that the issue needs to be also fixed on that one.

[2019-02-11 19:28] estruyf commented on #156
@gbminnock implemented the fix, and the new beta version is available. Could you please verify if it fixes the issue on your end?

[2019-02-12 12:12] gbminnock commented on #156
@estruyf yes its working fine now. Tks
![image](https://user-images.githubusercontent.com/2708345/52634572-777fb480-2ebf-11e9-8f5e-4edccfca31a6.png)

[2019-02-13 15:02] estruyf commented on #161
@hugoabernier feel free to add this as a property pane control. Discussed it internally, and it might be better that we keep ownership of the code. So having our own control, simplifies this process.

[2019-02-13 15:12] hugoabernier commented on #161
@estruyf it would be my pleasure. I'll get to it as soon as I submit my PR for the updated Richtext control with Rooster.

[2019-02-13 15:30] estruyf commented on #156
Thanks for verifying!

[2019-02-13 15:42] estruyf commented on #156
A new version is building at the moment. This fix will be available in version `1.14.1`.

[2019-02-13 15:42] #156 closed

[2019-02-18 14:36] malcom1120 opened #164 "PropertyFieldCollectionData - disableItemDeletion doesn't hide X icon when true"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

1.14.0

#### Expected / Desired Behavior / Question
When disableItemDeletion option is set to true, the X for deleting a row would be hidden instead of disabled.

#### Observed Behavior
disableItemDeletion set to true and the X icon is visible but disable. This causes confusion for end user as they don't understand that the ic

[2019-02-18 14:41] estruyf commented on #164
@malcom1120 this could be a good enhancement. Thanks for the feedback. Will put it on the list for the next release.

[2019-02-18 14:47] malcom1120 commented on #164
Thanks.

[2019-02-19 19:21] dgrooms commented on #159
I found the code in my version and then pulled the latest to compare. I can confirm that the current version does not have this issue.

[2019-02-19 19:21] #159 closed

[2019-02-25 08:49] ssvinciak opened #165 "[PropertyFieldCodeEditor] code beautify"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.14.1]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
Is there any way how to bind shortcut to format(beautify) code when using Code Editor? I have use

[2019-03-02 00:36] AJIXuMuK commented on #154
Hi @spplante!
Thanks for reporting.
The fix has been made in #166

[2019-03-02 00:57] AJIXuMuK commented on #145
Finally looked into it :) The fix has been committed

[2019-03-02 01:14] spplante commented on #145
Great news thanks!

[2019-03-02 01:14] spplante commented on #154
Awesome good work 👍

[2019-03-05 23:08] AJIXuMuK commented on #161
Hi @hugoabernier! I looked at the web part example and it looks great! Really cool thing to add to the controls as well.

Here are some thoughts I want to share with you:
1. I'm pretty sure you are on the same page, but it would be great to have multiselect available
2. `OneDriveTab` and `SiteFilePickerTab` look pretty similar. Maybe it would make sense to create some shared control like `FileExpl

[2019-03-05 23:36] hugoabernier commented on #161
@AJIXuMuK thanks for looking at the code.

Your feedback is all very valuable! You really did look at the code!

Here are my responses:
1. Yes, the plan is to allow multiselect, but I didn't spend any cycles to handle it. Definitely in the plans.
2. My primary goal when designing the control was to be as close as possible to the OOB file picker. I kept the two tabs distinct because the OOB version

[2019-03-06 02:03] AJIXuMuK commented on #161
@hugoabernier honestly, I haven't read the Office UI Fabric guides :) I was more thinking of code consistency.
But yes, if you find information that this style is beneficial then why not :)
My thoughts are just subjective opinion )

[2019-03-11 21:34] AJIXuMuK commented on #161
Hi @hugoabernier!
While working with the control, I've found one issue: the file picker (OneDrive Tab) will fail if there are more than one page to display.
As example, you have 10 folders in OneDrive, but current rect can contain 7 only.
In that case `_onRenderPage` will fail as it assumes that `items` property is always defined.
But in the situation I've described `items === undefined` for the "

[2019-03-11 21:51] hugoabernier commented on #161
Thanks @AJIXuMuK , great catch! I'll make sure to add your fix in my code.

[2019-03-11 21:53] AJIXuMuK commented on #161
One more thing: in `_getListItems` you have this code:
[code]
Probably, in the last line `listDataStream.ListSchema[".driveAccesToken"]` has been lost, and thumbnails are not displayed

[2019-03-28 08:52] PooLP opened #169 "Clear button on People Picker"
#### Category
- [x] Enhancement
- [ ] Bug
- [x] Question

#### Desired Behavior / Question

Hi,
Would it be a good idea to add a Clear button to reset the field?

Thanks

[2019-04-12 14:59] estruyf opened #170 "PropertyFieldNumber: not handling changes correctly"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

When async updating the initial value, this is not updated in the input box.

[2019-04-17 12:11] KaushalKhamar opened #171 "this.context.pageContext.web.absoluteUrl not taking current web URL"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version
1.14
#### Expected / Desired Behavior / Question
I am using list picker control. I need to get lists from sub site in modern page. And when i put web part in page i am getting error and when i troubleshoot this issue i have found that current web url is wrong.

**this.context.pageContext.web.absoluteUrl** not taking current web

[2019-04-17 13:42] AJIXuMuK commented on #171
Hi @KaushalKhamar,
First of all, `this.context` is a web part’s property. It is not related to the Property Pane Controls.
So, you need to post your question in (sp-dev-docs)[https://github.com/SharePoint/sp-dev-docs/issues] repo instead of this one.
Second, when you post it there, please, provide more details. Screenshot of the page and page url would be great, as well as description of how you w

[2019-04-18 10:38] KaushalKhamar commented on #171
Hello @AJIXuMuK ,

I got to know that i have used isolated domain functionality in this webpart that is why it has its own context. Due to which issue is occurring. Now issue has been resolved. You can close this issue.

Thanks for help.

[2019-04-18 10:38] #171 closed

[2019-04-19 20:41] spplante opened #172 "PropertyFieldTextWithCallout still persist property value when error"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
1.14.1

#### Expected / Desired Behavior / Question
With the **PropertyFieldTextWithCallout** control, when an error is returned from the **onGetErrorMessage** callback property after the text has changed, the WebPart property should not get persisted with the invalid value and should keep it's old value, just like the OOTB Tex

[2019-04-29 21:12] giveitaGo opened #174 "PropertyFieldCollectionData: Validation does not disable Save button"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
1.14.1

#### Expected / Desired Behavior / Question
When filling out a new record with required fields, the Save button should be disabled if form validation fails.

#### Observed Behavior
If you are entering data for the first entry, the Save button is always active, even if form validation is failing. If you partially fill ou

[2019-05-02 12:26] TarekA opened #175 "PropertyFieldPeoplePicker is slow"
#### Category
- [ x ] Enhancement
- [ ] Bug
- [ x ] Question

#### Version

Please specify what version of the library you are using: [1.14.1 ]

#### Expected / Desired Behavior / Question
When I type something into PeoplePicker for the first time, it takes 20 to 30 seconds for me to get a suggestion. The next attempts will be faster (~ 1 second).

1. Is there a way that this can be done faster?

[2019-05-09 13:34] TarekA opened #177 "PropertyFieldCollectionData: is it possible to use PeoplePicker in collectionData"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version
Please specify what version of the library you are using: [1.14.1]

#### Expected / Desired Behavior / Question
Is it possible to use the PropertyFieldPeoplePicker in PropertyFieldCollectionData? If so, how would I do that? I tried to create this in onCustomRender, but it didn't work.

[code]

[2019-05-09 14:11] #177 closed

[2019-05-14 15:59] c-eiser13 opened #178 "Callout icon missing with 1.8.2 web part"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://sharepoint.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help

[2019-05-14 17:18] AJIXuMuK commented on #178
Thank you @c-eiser13 for reporting the issue.
I've added the PR that will fix the issue for the latest versions of SPFx.

[2019-05-14 18:24] c-eiser13 commented on #178
Thanks for the quick response @AJIXuMuK ! I found a similar issue in the fileTypeIcon control and I've logged an issue in that repo as well.

[2019-05-17 14:06] estruyf commented on #178
@AJIXuMuK thanks for fixing this.

@c-eiser13 this is now implemented in the latest beta, feel free to test it out. Here you can read how you can install the latest beta: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2019-05-17 14:11] estruyf commented on #172
@spplante - @AJIXuMuK implemented a fix for this and is now available in the latest beta. Feel free to test it out.

More information on how you can install the latest beta can be found here: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2019-05-17 14:20] estruyf commented on #77
This has now been implemented in the latest beta. Feel free to test it out.

Here you can read how you can install the latest beta: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

Add the property `showLabels` with the value set to `false` to the `PropertyFieldDateTimePicker` property pane control in order to hide the labels.

[2019-05-17 14:23] estruyf commented on #145
This will be available in the `1.14.2` release and can already be tested in the latest beta.

Here you can read how you can install the latest beta: https://sharepoint.github.io/sp-dev-fx-property-controls/beta/

[2019-05-17 14:32] estruyf opened #180 "PropertyFieldCollectionData: add a property to be able to set a custom class on the collection data panel"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

It would be useful to have a property to set a custom CSS class on the panel from the`PropertyFieldCollectionData` control.

[2019-05-17 14:54] #180 closed

[2019-05-19 15:38] c-eiser13 commented on #178
Thanks @AJIXuMuK  and @estruyf I've installed the beta and can confirm it is fixed. Appreciate the quick turnaround!

[2019-05-22 13:45] estruyf commented on #77
This has just been released in version `1.15.0`.

[2019-05-22 13:45] #77 closed

[2019-05-22 13:45] estruyf commented on #145
This has just been released in version `1.15.0`.

[2019-05-22 13:45] #145 closed

[2019-05-22 13:45] estruyf commented on #170
This has just been released in version `1.15.0`.

[2019-05-22 13:45] #170 closed

[2019-05-22 13:45] estruyf commented on #172
This has just been released in version `1.15.0`.

[2019-05-22 13:45] #172 closed

[2019-05-22 13:45] estruyf commented on #178
This has just been released in version `1.15.0`.

[2019-05-22 13:45] #178 closed

[2019-05-29 03:03] c-eiser13 opened #182 "Additional controls missing callout icon in 1.8.2 web parts"
#### Category
- [ ] Enhancement
- [ x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [         ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
Using Toggle with callout in 1.8.2 web part and info icon is visible.

#### Observed Behavior

[2019-05-30 23:19] spplante commented on #172
Just tested this and it works as expected 👍

Thanks!

[2019-05-30 23:54] spplante commented on #154
Just tested this and it works as expected 👍

Thanks!

[2019-05-30 23:59] spplante commented on #145
Just tested this and it works as expected 👍

Thanks!

[2019-05-31 17:08] araver opened #184 "ListPicker add ability to filter the control in other ways"
#### Category
- [X] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.15.0]

#### Expected / Desired Behavior / Question
Ability to filter list using something other than list template

I think it would be nice to have a promiselike callback that would allow the developer to filter, or possibly a filter string that could be sent on the

[2019-06-04 08:56] MichelLaplane opened #185 "Can’t connect securely to this page"
Category : Question
Version : current
I have just downloaded the repository to test all the property controls.
I have installed all the dependencies using "npm install"
When trying to launch the test component using "gulp serve" my edge browser (using chrome has the same behavior) is launching and I get this error :
"Can’t connect securely to this page
This might be because the site uses outdated

[2019-06-04 09:04] MichelLaplane commented on #185
Category : Question
Version : current

I have just downloaded the repository to test all the property controls.
I have installed all the dependencies using "npm install"
When trying to launch the test component using "gulp serve" my edge browser (using chrome has the same behavior) is launching and I get this error :
"Can’t connect securely to this page
This might be because the site uses outdated

[2019-06-07 16:31] steevinBradlee opened #186 "PropertyFieldDatetimePicker not calling onPropertyPaneFieldChanged"
#### Category
- [x ] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

I'm trying to save two date times using this control but the property is never saved, nor is it present in this.properties. onPropertyPaneFieldChanged isn't being called which I'm guessing is the issue.

Here's my initialization of the picker, along with the versions of pnp and the generator I'm using. I'm sure I'm j

[2019-06-12 13:36] estruyf opened #187 "PropertyFieldCollectionData: Ability to provide custom labels for the save and cancel buttons"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Add the ability to be able to provide your own custom labels for the save and cancel buttons.

[2019-06-12 13:38] #187 closed

[2019-06-13 00:18] AJIXuMuK commented on #186
Hi @steevinBradlee,
I tested it out and it works fine both in Reactive and non Reactive modes.
You can find the code here: [https://github.com/AJIXuMuK/issues/tree/master/property-controls-186](https://github.com/AJIXuMuK/issues/tree/master/property-controls-186). But basically, it's the same as yours.

<img width="684" alt="Screen Shot 2019-06-12 at 5 13 58 PM" src="https://user-images.githubuser

[2019-06-19 18:45] deanbot opened #188 "Dropdown Control w/ Custom Render"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

1.15.0

#### Desired Behavior

A new Dropdown Control (and/or updating the `PropertyFieldDropDownWithCallout` control) allowing for the same `onRenderOption` functionality as the `PropertyFieldCollectionData` allows for the `CustomCollectionFieldType.dropdown` field.

[2019-06-27 12:18] estruyf opened #190 "PropertyFieldCollectionData: Add the ability for field validation to the custom fields"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

At the moment the custom field can only be used to show and update values. It should also have a way to generate an error that would invalidate the complete row.

[2019-07-09 07:48] estruyf commented on #184
This enhancement will be included in version `1.16.0`. You can already test it out via installing our latest beta version.

[2019-07-09 07:48] #184 closed

[2019-07-09 07:53] estruyf commented on #182
This PR got merged and will be available in version `1.16.0`. You can already test it out via installing the latest beta version.

[2019-07-09 07:53] #182 closed

[2019-07-09 07:54] estruyf commented on #190
This will be available in version `1.16.0` and is ready to be tested out in the latest beta.

[2019-07-09 07:54] #190 closed

[2019-07-09 07:56] estruyf commented on #186
@steevinBradlee can you verify the answer from @AJIXuMuK?

[2019-07-09 08:00] estruyf commented on #185
This has probably to do with the node version you are using. This project is still using version `1.3.0` of SPFx, which only supported node version `6`. When you are using version `8` or higher, you could run into the HTTP2 issue.

Best is to test out the project with node version 6, if you want to do it with version 8, check out this issue: https://github.com/SharePoint/sp-dev-docs/issues/1002

[2019-07-09 08:10] estruyf commented on #174
@giveitaGo I think you are referring to the following situation:

![Screenshot 2019-07-09 10 04 48](https://user-images.githubusercontent.com/2900833/60870407-13c0a400-a231-11e9-8c5b-c121bafb06e8.png)

In this case, the save button is active, because of the first line which will be saved. The new line will be ignored because that one is invalid. Once the first line is valid, it should show the fol

[2019-07-09 15:07] steevinBradlee commented on #186
@estruyf  @AJIXuMuK  I wasn't able to get this working in the project I added it to but was able to create a new project and it worked fine. I'd like to investigate more but I think it's probably safe to close this. Thanks for your help!

[2019-07-10 13:28] baywet opened #191 "Docs: all the getting started links are broken"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
Please specify what version of the library you are using: Documentation related issue.

#### Expected / Desired Behavior / Question
Getting started link to point to the proper page (eg for this page https://sharepoint.github.io/sp-dev-fx-property-controls/controls/PropertyPaneWebPartInformation/)

#### Observed Behavior
Getting

[2019-07-17 12:18] estruyf commented on #191
Thanks @baywet this has been fixed

[2019-07-17 12:19] #186 closed

[2019-07-17 12:20] #191 closed

[2019-08-14 08:55] estruyf opened #193 "PropertyFieldTermPicker: Tags icon styling issue on IE11"
#### Category
[ ] Enhancement
[x] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

On IE11 there is a styling issue with the tags icon rendering.

![Screenshot 2019-08-14 10 47 35](https://user-images.githubusercontent.com/2900833/63007440-f068c480-be80-11e9-9f81-829b73d1bdff.png)

[2019-08-21 06:22] hasannaqvi83 opened #195 "Add ability to hide Date and show only Time field in PropertyFieldDateTimePicker"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version: [1.16.0]
It would be great if we can have Time only field for PropertyFieldDateTimePicker control and add Time enum in DateConvention.

Cheers,
Hasan.

[2019-08-26 14:01] deanbot opened #196 "[Docs] invalid PropertyFieldCollectionData onCustomRender example"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Observed Behavior
The code example for custom render shows use of `onError` which isn't present in the anonymous function supplied to `onCustomRender`.

`onCustomRender: (field, value, onUpdate, item, itemId) => {`

should be:

`onCustomRender: (field, value, onUpdate, item, itemId, onError) => {`

[2019-08-29 22:12] WayneJSawyer commented on #161
Looking forward to this landing in the Property Controls, as a much needed modern replacement to the old AssetUrlSelector. Thanks in advance @hugoabernier

[2019-08-30 16:39] deanbot opened #197 "Build error when using pnpm - can't resolve lodash"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

1.16.0

#### Expected / Desired Behavior / Question

`gulp bundle` should build w/o issue

#### Observed Behavior

The big red error beginning with: `Error - [webpack] 'dist':`, containing `Module not found: Error: Can't resolve lodash in [...path to various property controls files]`.

I'm not sure if this is an issue with @pn

[2019-08-30 17:01] #197 closed

[2019-09-04 10:53] MayurSorthiya opened #198 "how to implement SharePoint Custom Property control with angular ?"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://sharepoint.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help

[2019-09-04 16:12] AJIXuMuK commented on #198
Hi @MayurSorthiya,
This repo is dedicated to React Property Controls. So, not the best place to ask question regarding Angular.
I can suggest you to ask that question [here](https://github.com/SharePoint/sp-dev-docs).
But still the question is too generic.
SPFx is framework agnostic (kind of). So you should be able to implement Property Controls using Angular. I would say you should use Angular el

[2019-09-07 23:11] coolvijaymca opened #199 "PropertyFieldCollectionData : enableSorting : How to use"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://sharepoint.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help

[2019-09-17 10:37] JakeStanger opened #200 "PropertyPanePropertyEditor breaks webparts consuming dyndata"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.16.0]

#### Expected / Desired Behavior / Question

Editing the properties of a webpart configured to consume dynamic data should update those properties and correctly save the changes.

#### Observed Behavior

Upon refreshing the page, the web part displays the "Som

[2019-10-03 19:14] giveitaGo commented on #174
@estruyf - That is a valid scenario, but so is simply adding a new record without editing the original record. Perhaps the "Save Button" shouldn't activate if the previous record(s) have not been modified and the new record is invalid. It's pretty confusing to show "Save" when the only data you've entered is invalid.

[2019-10-09 10:43] Dangerous-Mind opened #202 "PropertyFieldPeoplePicker does not disable the users"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ v1.16  ]

#### Expected / Desired Behavior / Question
Peoplepicket should all be disabled when the disabled option is true

#### Observed Behavior
Only the field is disabled. The users that are already inside the field are not disabled and people can remove them.

###

[2019-10-26 18:36] AJIXuMuK commented on #202
Hi @Dangerous-Mind
This is an issue of underlying Office UI Fabric picker in the version we're using (5.131.0).
There are plans to update to a newer version of OUIFR. When it's done the issue will be fixed.

[2019-10-28 02:20] Panoone opened #203 "How/where do I define the PropertyFieldOrder items array?"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version

Please specify what version of the library you are using: [1.16.0]

#### Question
Firstly, please excuse my  ignorance.

I have defined my items array within the control's properties (shown below). But this results in the items remaining static within the property pane.

How/where do I declare my items array and reference it w

[2019-10-31 22:06] AJIXuMuK commented on #203
Hi @Panoone!
In your example items are hardcoded right inside Property Pane definition. In that case they will be static.
You need to add a new property to your web part and use it:
[code]

[2019-10-31 22:45] Panoone commented on #203
@AJIXuMuK thanks for that! You're a champion. 🥇

[2019-10-31 22:45] #203 closed

[2019-11-03 20:23] AJIXuMuK commented on #198
Hi @MayurSorthiya,
Have I answered your question?

[2019-11-05 19:26] AJIXuMuK commented on #196
Hi @deanbot!
Thanks for pointing this out!
The fix has been done and will be available in the next version.

[2019-11-05 20:04] AJIXuMuK commented on #199
Hey @coolvijaymca
As I can see from your code, you're applying sorting to `this.state.groups` collection and storing the sorted version in `iGroup` variable.
But later on you're working with `groupNames` to render the links that was generated from `this.state.groups`, not from `iGroup` variable.

[2019-11-05 20:25] AJIXuMuK commented on #193
@estruyf I believe it hasn't been fixed...

[2019-11-05 20:28] #154 closed

[2019-11-05 20:40] AJIXuMuK commented on #152
Thanks @TheTedAdams !
This has been fixed and will be available in the next released version

[2019-11-08 21:00] #199 closed

[2019-11-13 17:20] baywet opened #205 "commonJS module configuration prevents externalizing package"
Reflecting https://github.com/SharePoint/sp-dev-fx-controls-react/issues/415

https://github.com/SharePoint/sp-dev-fx-property-controls/blob/361a5e4c89e143388302555b71ffac82ff432a9e/tsconfig.json#L5

[2019-11-17 22:00] #198 closed

[2019-11-18 16:07] robiharid opened #206 "PropertyFieldPeoplePicker not triggering ComponentDidUpdate"
Not sure why adding People with this picker does not trigger CompDidUpdate in the underlying React component. Triggering the update or refreshing the page shows that props updates successfully.

Do you have to explicitly state `this.properties.people = this.properties.people `in the `onPropertyPaneFieldChanged` property?

[2019-11-18 22:00] DA-Mena opened #207 "Use any spfx-property-controls inside the custom PropertyFieldCollectionData control render"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://sharepoint.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help

[2019-11-23 00:16] AJIXuMuK commented on #207
Hi @DA-Mena,
Controls from this repo are implemented to be used as Property Pane controls, not as standalone components that can be added as children to other components.
For that purposes you can take a look at [React Reusable Controls](https://github.com/SharePoint/sp-dev-fx-controls-react).
Maybe the component you need is implemented there.

[2019-11-23 00:22] AJIXuMuK commented on #206
Hi @robiharid,

Could you please provide a bit more explanation on what you're trying to achieve?

When the value is changed in `PropertyFieldPeoplePicker` we're updating the appropriate property of the web part and calling `onPropertyChange`. This actions lead to web part's re-render.

[code]

[2019-11-23 00:23] DA-Mena commented on #207
I guess I'll look around npmjs. Color picker is not in react controls.

[2019-11-23 00:23] #207 closed

[2019-11-23 00:24] robiharid commented on #206
hI @AJIXuMuK thanks for replying,

My problem was that the change was not triggering ComponentDidUpdate in my underlying Component.tsx do you know how I can force a rerender?

[2019-11-23 00:30] AJIXuMuK commented on #206
Could you please check that the `render` method of the web part is called after property change?
If yes - check if you're providing changed data to the component.
React may be smart enough to skip component's re-render if it's not needed.

[2019-11-27 21:34] benkenawell opened #210 "Unable to download json export from PropertyPanePropertyEditor"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [     1.14.1    ]

#### Expected / Desired Behavior / Question

I expect the `PropertyPanePropertyEditor` to properly allow for downloading the json file from the property pane of a custom sharepoint webpart.

#### Observed Behavior

Sharepoint intercepts the link and c

[2019-12-02 15:09] PushpaP0710 opened #212 "PropertyFieldCollectionData not available in v1.16.0?"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://sharepoint.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help

[2019-12-05 16:59] AJIXuMuK commented on #212
Hi @PushpaP0710,
Just double-checked and it is definitely available.

Could you provide more details on your issue?

[2019-12-19 18:00] #212 closed

[2019-12-23 14:18] sympmarc opened #218 "Can't update existing views in Site Designs"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
NA

#### Expected / Desired Behavior / Question
When we make a change to a Content Type name in a Site Design, we expect to see that renaming reflected in the site when we reapply the Site Design.

#### Observed Behavior
Content Type renaming is not applied with updates to the Site Design.

#### Steps to Reproduce
Create a simp

[2019-12-23 14:24] sympmarc opened #219 "View Updates in Site Designs Do Not Reflect Site Design Order"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
NA

#### Expected / Desired Behavior / Question
When we make a change to a view in a Site Design, we expect to see the columns in the view displayed in the order we provide

#### Observed Behavior
New columns are added to the right of the existing view, not the location specified in the Site Design.

#### Steps to Reproduce
Cre

[2019-12-23 14:39] sympmarc commented on #219
Sorry - this issues was for sp-dev-docs. I'm on the wrong repo!

[2019-12-23 14:39] #219 closed

[2019-12-23 14:40] sympmarc commented on #218
Sorry - this issues was for sp-dev-docs. I'm on the wrong repo!

[2019-12-23 14:40] #218 closed

[2019-12-25 18:00] #206 closed

[2020-01-10 05:34] Sampadaak2613 opened #220 "Add People picker control using SPFx extension on list view command set bar"
Below is the scenario on which I want to work on.
Select the document,
Click on command button from command bar
Open popup Add 3 people picker control on the same which will fetch the data from the list person/group column Update the values in people picker.
Any inputs on this?
I want to use pnp/spfx-property-controls in .ts file of command set extension.
On click of command, popup should get open

[2020-01-10 16:23] AJIXuMuK commented on #220
Hi @Sampadaak2613,

Property Controls are developed to be used in SPFx Web Part Property Pane only.
There is another repo for web parts and extensions - [Reusable React Controls](https://sharepoint.github.io/sp-dev-fx-controls-react/)

You have to be familiar with React development to use these components in your command set customizer.

In few words,
You'll need to install the module in your proj

[2020-01-24 18:00] #220 closed

[2020-01-29 15:59] doxic012 opened #221 "[PropertyFieldPeoplePicker] targetProperty is not updated properly when using nested/complex attributes"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.16.0]

#### Expected / Desired Behavior / Question
With the default PropertyPane-Controls like Text or Input, you can specify nested targetProperties like 'myElement.targetPropertyName' which modifies the value of the sub-property 'targetPropertyName'.

e.g. if I hav

[2020-01-29 21:31] estruyf opened #222 "Telemetry: Provide a way to opt-out for PnP Telemetry"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question

Provide a way to opt-out for PnP telemetry.

[2020-01-29 21:32] estruyf commented on #222
Beta version has this included.

<img width="501" alt="Screenshot 2020-01-29 22 19 02" src="https://user-images.githubusercontent.com/2900833/73399240-2f7fba80-42e7-11ea-98b6-6ca0babb6726.png">
![Uploading Screenshot 2020-01-29 22.17.44.png…]()
![Uploading Screenshot 2020-01-29 22.17.28.png…]()

[2020-01-30 00:34] AJIXuMuK commented on #221
Thanks @doxic012 for reporting that!

That is not completely true. We're using internal `onRender` method to re-render the component.

Regarding the issue itself - it looks like it is really unsupported and we need to look into fixing that for the controls.

[2020-01-30 09:53] doxic012 commented on #221
Yes, sorry for that! I looked into the code here and saw it afterwards.

Did some more testing on this and found kind of a workaround. I tested four different types of PeoplePicker-Fields, two times using `this properties` as passed argument for "properties" and the other two times I passed this.properties.element (The first one is complete, I omitted the additional properties here for more readab

[2020-01-30 15:21] #222 closed

[2020-02-27 15:21] russgove opened #224 "new property pane control - Azure function picker"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://sharepoint.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help

[2020-03-10 20:54] #210 closed

[2020-03-10 20:54] #196 closed

[2020-03-10 20:54] #193 closed

[2020-03-10 20:54] #152 closed

[2020-03-27 10:32] juanmad1 opened #231 "PropertyFieldSitePicker: Doesn't work at root site"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 1.17.0 ]

#### Expected / Desired Behavior / Question

**When I search in the field positioned at any site collection:**

https://_tenant_.sharepoint.com/sites/prueba2/_layouts/15/workbench.aspx
![image](https://user-images.githubusercontent.com/33957888/77743138-e662

[2020-04-02 16:27] jimmywim opened #233 "Callout Content - docs specify "HTML" but renders markup"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [     1.16.0    ]

#### Expected / Desired Behavior / Question
The docs for any control with Callouts [for example](https://sharepoint.github.io/sp-dev-fx-property-controls/controls/PropertyFieldCheckboxWithCallout/) state that the callout content can be any HTML -

[co

[2020-04-09 21:04] russgove commented on #207
Hey, you can use the office-ui-fabric color picker for this.
Just import it:
import { ColorPicker } from "office-ui-fabric-react";

and then you can set your custom field up like this:
 {
                      id: "color",
                      title: "Color",
                      type: CustomCollectionFieldType.custom,
                      onCustomRender: (field, value, onUpdate, item, itemId,

[2020-04-09 23:41] DA-Mena commented on #207
Thanks @russgove

[2020-04-20 10:01] Ckolhari5353 opened #235 "Term auto complete does not search in the site collection term store."
const pnpTerms = await pnpTermStore.getTerms({
        TermLabel: searchText,
        StringMatchOption: StringMatchOption.StartsWith,
        DefaultLabelOnly: true,
        TrimUnavailable: true,
        ResultCollectionSize: 30
      }).usingCaching().get();

This does not return results from the site collection term store. is this not supported please help.

Thank you for reporting an issue, s

[2020-04-26 00:31] AJIXuMuK commented on #231
The issue has been fixed.
You can test it in beta version and it'll be included in the next release.

[2020-04-26 21:18] AJIXuMuK commented on #233
Hi @jimmywim!
Sorry for the confusion with the documentation.
If you provide a `string`, even if it contains HTML, it will just render the string as text.
If you want to provide HTML, you should create a `React.ReactNode` object.
In the web part you can do it like that:
[code]

Hope it helps!

[2020-04-26 21:20] jimmywim commented on #233
Cheers @AJIXuMuK for the response.

Any suggestion on an easy way to add multiple lines of text (i.e. text with line breaks)? Or is this gonna have something to put in a future build?

(not needing it urgently, just a suggestion at this stage)

[2020-04-26 21:26] AJIXuMuK commented on #175
Hi @TarekA,

Sorry for not responding back.

Is it still an issue? I've never seen such a problem with people picker.

If it's still the case, could you provide some info regarding your environment? how many users do you have? How the OOB people picker speed is (for example, if you're trying to edit User or Group field value in modern UI)?

Thanks!

[2020-04-28 01:12] AJIXuMuK commented on #233
Hey @jimmywim,

If you know exactly the text (and lines) you want to display, you can do like that:
[code]
If it's dynamic - you can create your custom component and add it as a `calloutContent`

[2020-04-28 01:32] AJIXuMuK opened #239 "People Picker doesn't search for groups"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.17.0]

#### Expected / Desired Behavior / Question
People Picker control return SharePoint groups

#### Observed Behavior
People Picker control doesn't return SharePoint groups
#### Steps to Reproduce
[code]

[2020-04-29 15:54] deanbot opened #240 "PropertyFieldToggleWithCallout disabled style not applied"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: 1.17.0

#### Expected / Desired Behavior / Question

A disabled ToggleWithCallout appears, visually, disabled.

#### Observed Behavior
Disabled ToggleWithCallout appears selectable.

See disabled OOB toggle above disabled ToggleWithCallout:

![image](https://user-images

[2020-04-30 08:14] gautamdsheth commented on #239
hey @AJIXuMuK , can I pick this up ?

[2020-05-01 02:00] #233 closed

[2020-05-02 09:43] nanddeepn commented on #195
Hi @AJIXuMuK
I can take this up!

[2020-05-03 12:06] RamPrasadMeenavalli opened #242 "Broken link in PropertyFieldDateTimePicker docs"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Observed Behavior
The link for OnGetErrorMessage documentation is broken in this page

https://github.com/SharePoint/sp-dev-fx-property-controls/blob/master/docs/documentation/docs/controls/PropertyFieldDateTimePicker.md

[2020-05-03 12:48] nanddeepn commented on #195
Hi @AJIXuMuK,
I have submitted PR https://github.com/SharePoint/sp-dev-fx-property-controls/pull/244 for this. Please review and let me know for any changes needed.
Thank you!

[2020-05-03 13:51] RamPrasadMeenavalli commented on #242
Looks like this is the correct url - https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/validate-web-part-property-values

Submitted a PR

[2020-05-06 15:10] nickvanhooydonk opened #245 "Auto select child items"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Desired Behavior
It would be great if we could have the possibility to auto-select all child items when selecting a parent item (and vice versa on deselecting).
In addition to this it would be even more super if this could be a three-state selection visual (selected | not selected | partially selected). Example:

![image](https://user-

[2020-05-07 09:33] #231 closed

[2020-05-08 08:55] kunj-sangani opened #247 "Discussion for New Enhancement on MessageBar Control"
#### Category
- [x] Enhancement

#### Question
I am working on a new Enhancement which would allow users to add [MessageBar from Fluent UI](https://developer.microsoft.com/en-us/fluentui#/controls/web/messagebar) in property pane control
My question is should we allow actions
Would this enhancement of having MessageBar be helpful ? (some use case :- Displaying success message or error message or w

[2020-05-10 23:00] #175 closed

[2020-05-13 15:08] ashishasolkar opened #249 "ComboBoxListItemPicker fetching only 100 items~! It should fetch all items from a list?"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version
**"@pnp/spfx-controls-react": "1.18.0"**
"@microsoft/sp-core-library": "1.10.0",
"@microsoft/sp-lodash-subset": "1.10.0",
"@microsoft/sp-office-ui-fabric-core": "1.10.0",
"@microsoft/sp-property-pane": "1.10.0",
"@microsoft/sp-webpart-base": "1.10.0",
"@pnp/sp": "^2.0.4",

#### Expected / Desired Behavior / Question
Currently C

[2020-05-15 00:19] AJIXuMuK opened #250 "TreeView: Expand to selected"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.18.0]

Add ability to the `TreeView` component to expand the nodes to see `defaultSelectedKeys`.
For example, add `expandToSelected: boolean` property to the component.

[2020-05-15 00:27] AJIXuMuK opened #251 "TreeView: `defaultExpanded: true` doesn't work"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.18.0]

#### Expected / Desired Behavior / Question
Setting `defaultExpanded` property to `true` opens all the nodes of the `TreeView`

#### Observed Behavior
There is no difference in behavior between `false` and `true`

#### Steps to Reproduce
[code]

![tree-view-de

[2020-05-15 00:28] AJIXuMuK opened #252 "TreeView: there should be possibility to collapse the first level nodes by default."
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.18.0]

Currently `TreeView` by default renders the first level nodes as expanded. It might be an issue for enterprise scenarios.
We need to allow to collapse the first level nodes by default.
For example, we can use `defaultExpanded` property (currently impacts on le

[2020-05-15 00:30] AJIXuMuK commented on #250
wrong repo

[2020-05-15 00:30] #250 closed

[2020-05-15 00:31] AJIXuMuK commented on #252
wrong repo

[2020-05-15 00:31] #252 closed

[2020-05-15 00:32] AJIXuMuK commented on #251
wrong repo

[2020-05-15 00:32] #251 closed

[2020-05-15 05:51] ncbsharepointer opened #253 "Unexpected end of JSON input while parsing near '...-2.tgz","fileCount":2'"
I get this Error when using npm i @pnp/spfx-controls-react .
Refer screenshot to see the issue
![tempsnip](https://user-images.githubusercontent.com/60057567/82016211-218b5500-969e-11ea-96cc-b8d153bfc848.png)

[2020-05-15 06:05] ncbsharepointer commented on #253
Solved by run this command: npm cache clean --force
then run npm i @pnp/spfx-controls-react

[2020-05-15 06:05] #253 closed

[2020-05-15 22:08] AJIXuMuK commented on #242
The PR has been merged and will be available in the next release.

[2020-05-15 23:09] #195 closed

[2020-05-15 23:17] AJIXuMuK commented on #195
Hi @hasannaqvi83!
This has been implemented (thanks @nanddeepn) and will be available in the next release.
In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/)

[2020-05-21 15:44] nanddeepn commented on #165
Hi, I can work on this.

[2020-05-21 16:13] AJIXuMuK commented on #165
Thanks @nanddeepn - it would be great!

[2020-05-26 01:10] AJIXuMuK commented on #247
Hi @kunj-sangani!
Thank you for bringing this up.

@joaojmendes has implemented `Message` component in #248
Is it the same as you planned to add?

[2020-05-26 01:12] AJIXuMuK commented on #245
Hi @nickvanhooydonk! What control are you referencing? We don't have `TreeView` yet...

[2020-05-26 01:14] AJIXuMuK commented on #185
@MichelLaplane - has it been resolved for you using NodeJS v6 or v8?

[2020-05-26 01:20] AJIXuMuK commented on #169
Hi @PooLP!
It's a good idea to have clear button. But under the hood we're using a picker from Fluent UI (Office UI Fabric). And that picker doesn't have an option to show clear button.
Although the feature is nice to have, I wouldn't go with customization just for it.

[2020-05-26 01:23] AJIXuMuK commented on #249
Hi @ashishasolkar!
This issue is related to [Reusable Controls](https://github.com/pnp/sp-dev-fx-controls-react/) repo, not Property Controls.
Could you please create the same issue in the correct repo?

[2020-05-26 01:57] AJIXuMuK commented on #240
Hi @deanbot!
Thank you for reporting the issue!
In my tests `toggle` is disabled. The only issue I found is the label for the toggle (with information icon) is not disabled if `disabled=true`.
This issue has been addressed in #256 and will be available in the next release.
You can test the functionality now using [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2020-05-26 05:11] ashishasolkar commented on #249
Sure Thanks. You may close this case. I will create new case in another repo.

[2020-05-26 05:11] #249 closed

[2020-05-26 05:24] PooLP commented on #169
Hi,
ok, couldn't it have this button on the Fluent UI select component? it would also be useful in multi.

[2020-05-26 07:21] nickvanhooydonk commented on #245
Hi @AJIXuMuK,
A bit stupid, but I just found out I posted this in the wrong repository.

Nevertheless, I think adding the treeview from [@pnp/spfx-controls-react](https://pnp.github.io/sp-dev-fx-controls-react/controls/TreeView/) to the pnp property controls will give developers many new opportunities.

What I am missing in the treeview controll is the three-state selection as you see in the scree

[2020-05-26 15:55] MichelLaplane commented on #185
I've update to last SPFx framework version making different modifications and it works quite well. Thank you for your inquiry.

[2020-05-27 11:36] imranraja opened #258 "PropertyFieldNumber give "Maximum update depth exceeded" error"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.18.0]

I am using PropertyFieldNumber in my webpart. When updating the field it disappears and gives me the following error in the console log:
https://reactjs.org/docs/error-decoder.html/?invariant=185

To reproduce this error try following configuration:
[code]
And

[2020-05-28 08:32] lafe opened #260 "Dynamic options in PropertyFieldCollectionData"
#### Category
- [X] Enhancement
- [ ] Bug
- [X] Question

#### Version

Please specify what version of the library you are using: 1.18

#### Question

We have to implement a somewhat complex configuration panel, that also has some "Cascading Dropdowns" (i.e. dropdowns that depend on each other; e.g. selection of country lists all available cities). The `PropertyFieldCollectionData` is an almost pe

[2020-06-04 15:57] SoHoOps commented on #260
I'm currently working on a complex usage as well, trying to cascade the drop downs based on the first drop down. I have also not found a way to implement this with this control.

[2020-06-05 14:54] estruyf commented on #200
This will be available in version `1.19.0`.

[2020-06-08 20:00] frankok opened #263 "PropertyFieldViewPicker - Unable to load Views from another site"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [    1.18.0     ]

#### Expected / Desired Behavior / Question
I have a web part with Site Url, PropertyFieldListPicker and PropertyFieldViewPicker. When a Site Url is set, the List Picker displays the lists from that site (using the webAbsoluteUrl property).
Expected t

[2020-06-09 03:00] #247 closed

[2020-06-16 22:57] AJIXuMuK commented on #165
The PR has been merged and will be available in the next release.

[2020-06-17 20:33] russgove opened #266 "roleDefinition picker"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2020-06-19 08:28] SaiKiranChowdam opened #267 "PropertyFieldListPicker has no feature of Default checking option."
Hi ,
I have a requirement where i need to all lists from a library and PropertyFieldListPicker is the best fit for my requirement but it has no option of default checking .

When Propertypane loads,  the PropertyFieldListPicker showing options but there is no option to preSelect / PreCheck the options that are populated.

It would be great if there's a solution for that.

Thanks.

[2020-06-19 09:45] gautamdsheth commented on #266
@AJIXuMuK - picking this up. Hope that's fine :)

[2020-07-04 15:36] joshtransient opened #269 "[Documentation] Link to PropertyFieldListPicker control points to PropertyFieldMessage"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: latest/current documentation on https://pnp.github.io/sp-dev-fx-property-controls/

#### Expected / Desired Behavior / Question
Navigate to Controls, then PropertyFieldListPicker, get sent to PropertyFieldListPicker page.

#### Observed Behavior
Get sent to PropertyFiel

[2020-07-04 23:02] AJIXuMuK commented on #266
Implemented in #268

[2020-07-04 23:02] #266 closed

[2020-07-04 23:11] AJIXuMuK commented on #242
The version has been released.

[2020-07-04 23:11] #242 closed

[2020-07-04 23:11] AJIXuMuK commented on #240
The version has been released.

[2020-07-04 23:11] #240 closed

[2020-07-04 23:11] AJIXuMuK commented on #239
The version has been released.

[2020-07-04 23:11] #239 closed

[2020-07-04 23:11] AJIXuMuK commented on #200
The version has been released.

[2020-07-04 23:11] #200 closed

[2020-07-04 23:11] AJIXuMuK commented on #165
The version has been released.

[2020-07-04 23:11] #165 closed

[2020-07-04 23:15] AJIXuMuK commented on #269
@joshtransient  - thank you for pointing this out!

The fix will be available in the next version.

[2020-07-14 11:08] frankok commented on #263
Hi, no feedback on this issue yet.
@hugoabernier, do you have any feedback on this?

[2020-07-18 14:39] russgove opened #272 "New Control -- Folder Picker"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2020-07-19 10:50] gautamdsheth commented on #272
Picking this up !

[2020-07-26 19:10] AJIXuMuK commented on #272
Hi @russgove!
@gautamdsheth has implemented the component. It will be available in the next release.
In a meantime you can test it in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/).

[2020-07-26 19:14] AJIXuMuK commented on #260
Thank you @lafe for reporting and implementing the enhancement!
It will be included in the next release.

[2020-07-27 10:57] frankok commented on #263
Hi again,
I downloaded the source code, and added the ViewPicker to my project.
After debugging, I tested with adding the following:

    webAbsoluteUrl: properties.webAbsoluteUrl,

I added it (on line 135) in the export function PropertyFieldViewPicker in PropertyFieldviewPicker.ts.
This seems to do the trick.

[2020-07-28 13:31] hugoabernier commented on #263
@frankok thanks for reporting this. Sorry, with the massive numbers of emails I get from GitHub, this one slipped through the cracks.

Working on a PR to include your fix. Thank you!

[2020-07-28 15:30] voltmer1 opened #275 "Configure for Date Picker only?"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2020-07-29 04:06] AJIXuMuK commented on #263
Hi @frankok!
Thank you for reporting this one!
@hugoabernier made the fix and it'll be included in the next release.
In a meanwhile you can test it in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/).

[2020-07-29 04:23] AJIXuMuK commented on #275
Hello @voltmer1!
You should use `dateConvention` proprety of the component and set it to `DateConvention.Date`.

[2020-07-29 04:29] AJIXuMuK commented on #267
Hi @SaiKiranChowdam!
As any other Property Control, `PropertyFieldListPicker` gets value from the web part `properties` based on `targetProperty` value provided during the initialization.

For example,
[code]

So, if `this.properties.lists` has value, it will be displayed in the picker.

For your scenario I would pre-initialize `this.properties` in web part's manifest.

[2020-07-29 04:34] #245 closed

[2020-07-29 04:35] #185 closed

[2020-07-29 04:38] AJIXuMuK commented on #162
Hey @hugoabernier,

It can be something helpful!

[2020-07-30 14:37] voltmer1 opened #278 "IDateTimeFieldValue "issue"
Please delete. Accidental duplicate.

Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already a

[2020-07-30 14:37] voltmer1 opened #279 "IDateTimeFieldValue "value" issue"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2020-08-01 05:00] #275 closed

[2020-08-01 05:00] #267 closed

[2020-08-06 04:34] #278 closed

[2020-08-06 04:48] AJIXuMuK commented on #279
`this.properties.date.value.toISOString()` works correctly for me.
And the `value` is `Date`:
![date](https://user-images.githubusercontent.com/17036219/89491960-4a832980-d765-11ea-83b8-7db709dcfa16.png)

Could you please try to update to the latest version and check if that solves the issue?

[2020-08-06 19:10] voltmer1 commented on #279
I see what is causing the issue. If you select a date from the picker and then select a different one the original date is no longer a Date object, but a string, so in ComponenentDidUpdate I was assuming that both the new date and the previous date would both be Date objects, so I was converting them to ISO Strings, which is not possible on the original date, that is already a ISO String. Does the

[2020-08-07 23:59] AJIXuMuK commented on #279
@voltmer1 the component doesn't process the original date.
We just use what was set to `initialDate` property.

Could you please check that `initialDate` is set correctly and you don't change `value` property of it?

[2020-08-10 16:46] voltmer1 commented on #279
I believe I've set the property correctly (see below). I never reference the initialDate property anywhere else in my code, so the value property would never be altered.

PropertyFieldDateTimePicker("date", {
                  label: strings.DateFieldLabel,
                  initialDate: this.properties.date,
                  dateConvention: DateConvention.Date,
                  timeConvention:

[2020-08-12 06:00] #258 closed

[2020-08-14 17:39] RA1449 opened #281 "PropertyFieldListPicker control to return Title or relative URL"
#### Category
- [X ] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [   1.19.0    ]

####  Desired Behavior
It would be great if the PropertyFieldListPicker control returned the list/library Title or relative URL.  Some SharePoint APIs don't use guids.

[2020-08-14 22:28] AJIXuMuK commented on #279
@voltmer1 this one looks correct.

Could you please provide the code where you're experiencing the issue?

[2020-08-14 22:29] AJIXuMuK commented on #281
Thank you @RA1449 for the idea!

We'll look into it!

[2020-08-18 17:55] albegut opened #282 "PropertyFieldNumber give "Maximum update depth exceeded" error"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

 [1.19.0]

#### Expected / Desired Behavior / Question
Set the PropertyFieldNumber to empty.

#### Observed Behavior
Fatal error if the field data is deleted. Same issue as #258

#### Steps to Reproduce
I am using PropertyFieldNumber in my webpart. When updating the field it disappears and gives me the following error in the c

[2020-08-18 18:24] albegut commented on #282
It's partilly fixed if you set null as value when the property is empty

[code]

![PropertyFieldNumber (1)](https://user-images.githubusercontent.com/9661096/90550641-861fe980-e190-11ea-99f7-7142aa7b6ab7.gif)

[2020-08-24 07:46] pk091990 opened #284 "PropertyFieldCollectionData onCustomRender shows required field validation row error after value selects"
#### Category
- [ ] Enhancement
- [*] Bug
- [ ] Question

#### Version :

Please specify what version of the library you are using: ^1.19.0

#### Expected / Desired Behavior / Question
I've created custom combobox with oob number field and need to show required field validation when there is no value in the controls. However its working just opposite for the custom control. When there is no value

[2020-08-24 20:43] ZabbyCapurin commented on #267
I just tried the suggestion, but it doesn't work very well if you don't know the GUID beforehand

[2020-08-29 00:00] #279 closed

[2020-09-01 17:28] anoopt opened #286 "New control : GUID"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Expected / Desired Behavior / Question
Is it worth having a property pane control which will accept only valid GUID?

If yes, I am happy to work on this.

*Sample scenario* - ID of a termset is needed by a webpart so that the related terms can be fetched [example - this webpart](https://github.com/pnp/sp-dev-fx-webparts/tree/master/sam

[2020-09-01 23:01] svermaak opened #287 "PropertyFieldCollectionData with column type of PropertyFieldCodeEditor"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2020-09-09 06:15] gauravgoyal5 opened #293 "PropertyFieldListPicker link has wrong url"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 1.18.0]

#### Expected / Desired Behavior / Question
When I went to url https://pnp.github.io/sp-dev-fx-property-controls/controls/PropertyFieldCodeEditor/ & then clicked on PropertyFieldListPicker, It should show me details about PropertyFieldListPicker

#### Observe

[2020-09-09 14:35] #263 closed

[2020-09-10 03:15] bargshree opened #295 "Propertyfield file picker not getting org assets library"
#### Category
- [ ] Enhancement
- [**X** ] Bug
- [ ] Question

#### Version
1.20.0

#### Expected / Desired Behavior / Question
Your Organization tab is visible to pick and choose files from the org assets library
#### Observed Behavior
Your Organization tab is not visible

#### Steps to Reproduce

- A library has been designated as org assets library, and can be seen when using OOTB image webpart

[2020-09-16 09:53] IRRDC opened #297 "PropertyFieldCollectionData onChanged missing"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.20.0]

#### Expected / Desired Behavior / Question
WIthout an onChanged or onItemDeleted callback there is no way to perform data clean up in case a data row is deleted by the user.
There already is an onChangeCallback in the render method that is not part of the int

[2020-09-24 04:00] sharepointknight commented on #25
Looks like this has already been implemented as part of a previous pull request. #268

[2020-09-28 15:13] #272 closed

[2020-09-28 15:13] #269 closed

[2020-09-28 15:13] #260 closed

[2020-09-28 15:13] #162 closed

[2020-09-28 15:31] AJIXuMuK commented on #202
Hi @Dangerous-Mind - this should be fixed in the version 2.0.0

[2020-09-28 15:31] #202 closed

[2020-09-28 15:33] AJIXuMuK commented on #205
Moved to `esnext` module configuration

[2020-09-28 15:33] #205 closed

[2020-09-28 16:04] AJIXuMuK commented on #282
Hi @albegut!
Thank you for reporting this bug!
It has been fixed and will be available in the next release.
In a meantime you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2020-09-28 17:14] AJIXuMuK commented on #284
Hi @pk091990!
Thanks for reporting this one!
The documentation was not completely correct: you need to call `onUpdate` **prior** to `onError`.
In that case everything will work as expected.

I've updated the docs. They will be published with the next release.

Let us know if there are any other issues.

[2020-09-28 17:17] AJIXuMuK commented on #286
Hi @anoopt!

If it's needed once, there will be others who'll benefit from such a control.
So feel free to implement it!

[2020-09-28 17:21] AJIXuMuK commented on #287
Hi @svermaak,

Thanks for the idea.

But Property controls can't contain other property controls.

You can still implement (partially copy-paste) Code Editor control and inject in it `PropertyFieldCollectionData` using `custom` type

[2020-09-28 17:21] #287 closed

[2020-09-28 17:22] AJIXuMuK commented on #293
Thanks @gauravgoyal5 for reporting this.

The issues has already been addressed.

[2020-09-28 17:22] #293 closed

[2020-09-28 20:47] AJIXuMuK commented on #297
Hi @IRRDC
Could you please provide a bit more details of your scenario?

When you use `PropertyFieldCollectionData` you're providing `targetProperty` value.
The control will update the value of that property if something got changed.

[code]

[2020-09-28 20:48] AJIXuMuK commented on #25
@russgove - could you please check if the implemented control fits your needs?

[2020-09-28 20:53] AJIXuMuK commented on #63
Please, create a new issues if the bug is still present.

[2020-09-28 20:53] #63 closed

[2020-09-28 21:03] AJIXuMuK commented on #134
SPFx still doesn't allow to disable Apply button based on some criteria.
If you still need such a functionality I would create an issue in [sp-dev-docs](https://github.com/SharePoint/sp-dev-docs/issues) or even a new [user voice](https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform) entry.

[2020-09-28 21:03] #134 closed

[2020-09-28 21:33] AJIXuMuK commented on #83
German translation has been auto-generated using Azure cognitive services.
Please, feel free to update it if needed.

The translation will be available in the next release.

[2020-09-28 21:40] AJIXuMuK commented on #146
Seems like `PlaceholderWithCallout` is exported from the library.

Closing this one as I haven't heard any need of more complex option 2.

[2020-09-28 21:40] #146 closed

[2020-09-28 21:54] AJIXuMuK commented on #150
Thanks @TheTedAdams for reporting the issue and sorry for a long response.

This has been finally fixed and will be available in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2020-09-29 05:33] IRRDC commented on #297
@AJIXuMuK I have switched to using the generel property changed event as a workaround. I was doing some interaction while the dialog was open (displaying all the entered values from all rows in one column as a hint) and was using the changed events from the controls in the rows but what I could not detect was when a row in the dialog got deleted (and I had to remove a value from my hint). Now I on

[2020-09-29 14:36] AJIXuMuK commented on #297
Thanks @IRRDC!
Yeah, this is by design behavior. As this is just a property control, it shares the "final" state of the user's configuration.
Sorry that it's not fit your needs by 100%...

[2020-09-29 14:36] #297 closed

[2020-09-29 15:47] AJIXuMuK commented on #151
Hi @TheTedAdams,

We've added a new property `precision` to the `PropertyFieldNumber`. Now the value is rounded based on the property.
If it's not set you'll get the value as is.

The change will be available in the next release.
In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2020-09-29 16:30] anoopt commented on #286
Thank you @AJIXuMuK I will work on it.

[2020-10-07 21:04] AJIXuMuK commented on #295
Thanks @bargshree for reporting the issue!
@gautamdsheth has added the PR with the fix.
It will be available in the next release.
In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2020-10-07 21:43] AJIXuMuK commented on #158
Hi @malcom1120,

Standard behaviors for focused dropdowns is just show the focus.
key down is usually used to either open the list of options or iterate through the options.

We're using the behavior of [Fluent UI Dropdown](https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown)

[2020-10-07 21:43] #158 closed

[2020-10-07 21:47] AJIXuMuK commented on #169
Neither pickers nor dropdowns have the ability to display clear button.

[2020-10-07 21:47] #169 closed

[2020-10-07 21:48] AJIXuMuK commented on #161
`FilePicker` has been already included in the library

[2020-10-07 21:48] #161 closed

[2020-10-07 22:03] AJIXuMuK commented on #174
In the current implementations it is a by design behavior.

Enabled button with`saveBtnLabel` text means that you will save changes to the existing items. If there are errors in these existing items, the button will be disabled.
If new added item is valid, the button text will be `saveAndAddBtnLabel`.

[2020-10-07 22:03] #174 closed

[2020-10-12 22:00] #25 closed

[2020-10-13 08:43] wilecoyotegenius opened #307 "Opton to disable selection of terms in TermPicker"
### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 2.0.0 ]

#### Expected / Desired Behavior / Question
Currently, PropertyFieldTermPicker allows you to choose if selecting term sets is possible, but there is no way to choose, if terms should be selectable or not. And in some cases, user needs to specify just the term

[2020-10-20 10:13] KingKurt89 opened #308 "PropertyFieldCollectionData -> Panel does not resize"
#### Category
- [ ] Enhancement
- [x] Bug
- [x] Question

#### Version

Please specify what version of the library you are using: [  2.0.0       ]

#### Expected / Desired Behavior / Question
I want to use the PropertyFieldCollectionData control in my WebPart. It works pretty fine on the hosted workbench. Clicking on the button the Panel resizes and the whole table is visible. I would like to see

[2020-10-21 15:55] #295 closed

[2020-10-28 01:05] #282 closed

[2020-10-28 01:05] #284 closed

[2020-10-28 01:05] #83 closed

[2020-10-28 01:05] #150 closed

[2020-10-28 01:06] #151 closed

[2020-10-28 01:06] #286 closed

[2020-10-28 07:53] otze opened #311 "German localization broken"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 2.1.0        ]

#### Expected / Desired Behavior / Question
When testing a webpart that leverages PropertyFieldSwatchColorPicker the property is not showing with "gulp serve --locale=de-de"

#### Observed Behavior
It seems that line 1 of node_modules/@pnp/spfx-propert

[2020-10-28 16:29] mvdungen commented on #311
Same for the dutch nl-nl localization file. The `declare var define...` first code line is causing an error. By removing that line in the nl-nl.js file, the problem was solved. Looked at some other localization files, but not all are affected: `no.js` is fine, but `nb-no.js` or `fr-fr.js` are broken. Fixed it for now by removing the first line.

[2020-10-28 17:53] AJIXuMuK commented on #311
Thank you @otze for reporting that!
And thank you @mvdungen for checking other localizations.

The fix has been done and will be included in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/).

[2020-10-28 19:04] #311 closed

[2020-11-17 11:47] ArndBrugman commented on #281
This is exactly what I was looking for, by using the ByName on the configuration I can use the page as a template over multiple site collections. This is inhibited by used the unique ID. Would be a great addition as I now have a lot of custom code in my solution that I would love to replace with using a component that uses the List Title as a key. Could be a configuration option if I'm right?

[2020-11-21 21:55] AJIXuMuK commented on #307
Hi @wilecoyotegenius,

Could you please describe your use-case a bit more? Do you actually want to see the terms but be unable to select them? Or you just want to see term sets, without terms?

[2020-11-21 22:09] AJIXuMuK commented on #308
Hi @KingKurt89,
Thank you for reporting the issue. But I can't reproduce it.
I'm using the exact same code as provided in the documentation, and the panel renders in the `large` state:
<img width="2069" alt="Screen Shot 2020-11-21 at 2 06 37 PM" src="https://user-images.githubusercontent.com/17036219/99888621-0d9f4d80-2c03-11eb-9438-515296e1e499.png">

Here is the code of the web part:
[code]

[2020-11-23 09:55] wilecoyotegenius commented on #307
@AJIXuMuK I was thinking about the latter - just seeing and being able to select term sets

[2020-11-23 10:15] wilecoyotegenius commented on #307
@AJIXuMuK If you like the idea, I'd be happy to submit a PR for this.

[2020-11-24 04:45] AJIXuMuK commented on #307
Hi @wilecoyotegenius,

Feel free to submit a PR! I would probably implement two separate flags: one to disable terms selection and another to hide terms.

[2020-12-05 23:00] #308 closed

[2020-12-16 14:25] kflogdev opened #316 "Add CodeEditor 'wrapEnabled' property"
#### Category
- [X] Enhancement
- [ ] Bug
- [ ] Question

#### Version

[2.2.0 ]

#### Expected / Desired Behavior / Question
It would be great to have a boolean property on the CodeEditor control that allows us to set the [wrapEnabled](https://github.com/securingsincity/react-ace/blob/master/docs/Ace.md) property for line wrapping.

I would be happy to submit a PR for this additional property.

[2020-12-18 16:46] jscudder opened #317 "PropertyFieldColumnPicker?"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2020-12-29 02:44] jscudder opened #318 "PropertyFieldIconPicker?"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2020-12-31 14:20] gautamdsheth commented on #318
Happy to pick it up.
@AJIXuMuK - can you please assign it to me ?

[2020-12-31 16:17] AJIXuMuK commented on #318
I can't set you as assignee, but you got it :)

[2021-01-05 23:38] AJIXuMuK commented on #318
@jscudder - @gautamdsheth has implemented the component.
It will be included in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2021-01-06 00:38] AJIXuMuK commented on #317
Hi @jscudder,
It could be a good addition to the library!

Thank you for the suggestion.

[2021-01-06 00:42] AJIXuMuK commented on #316
Hi @kflogdev,

Sure - feel free to submit a PR!

Please, do not forget to reference `dev` branch for the PR.

[2021-01-06 02:14] AJIXuMuK commented on #281
@RA1449, @ArndBrugman - this has been implemented and will be included in the next release.

There is a new property `includeListTitleAndUrl`. If it is set to `true` the picker will return `IPropertyFieldList` objects:

[code]

You can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2021-01-06 15:01] Dave-Buck opened #321 "PropertyFieldCollectionData Dropdown validation not working as expected"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
2.2.0 (SPFx v1.11.0, Node v10.22.1)

#### Issue
When using the `PropertyFieldCollectionData` property pane control, `onGetErrorMessage` is not triggered for `CustomCollectionFieldType.dropdown`, resulting in no error message telling the user that the field is required, but you are not able to 'Add and Save' the collection item.

[2021-01-07 14:46] jscudder commented on #318
This is outstanding. Thank you

On Wed, Jan 6, 2021 at 12:38 AM Alex Terentiev <notifications@github.com>
wrote:

[2021-01-12 18:10] #318 closed

[2021-01-12 18:10] #307 closed

[2021-01-12 18:10] #281 closed

[2021-01-23 10:35] enti333 opened #323 "People Picker OnChange event is missing in SPFX for SharePoint 2019"
#### Category
- [ ] Enhancement
- [ ] Bug
- [X] Question
#### Version
All Versions
#### Expected / Desired Behavior / Question
I don't understand but if I create an SPFX project which is used only for SharePoint 2019 the onChnage event is missing and there is only some event called **selectedItems** . The problem is I do not have any documentation. I do not know what version of PNP React Controls

[2021-01-23 10:53] enti333 commented on #323
Sorry I think that I have postedf in wrong section.

[2021-01-29 18:18] #323 closed

[2021-01-29 18:19] AJIXuMuK commented on #316
The PR with enhancement has been merged and will be included in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/).

[2021-01-29 19:41] AJIXuMuK commented on #321
Hi @Dave-Buck,
Thank you for reporting this!

The fix has been merged and will be included in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/).

[2021-02-01 09:13] Dave-Buck commented on #321
Thanks @AJIXuMuK, much appreciated!

[2021-02-01 16:00] johnnycardy opened #326 "Support for a Color Picker control within the PropertyFieldCollectionData property pane control."
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Expected / Desired Behavior / Question
The PropertyFieldCollectionData control by default has some sub-controls for its property editing.
Suggestion is to support a swatch color picker as the control (to be added to CustomCollectionFieldType). See PropertyFieldSwatchColorPicker as an example of what it would look like.

[2021-02-02 22:58] johnnycardy commented on #326
I now have this implemented and it looks like the below, feedback welcome! PR incoming...

![image](https://user-images.githubusercontent.com/904610/106673760-0785ff80-65aa-11eb-9a5d-2485875cbd96.png)

[2021-02-05 13:23] beats-lvt opened #328 "PropertyFieldMultiSelect callout rendering with many options"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2021-02-09 00:56] AJIXuMuK commented on #326
Thank you @johnnycardy for submitting the idea and implementing it!

It will be included in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/).

[2021-02-09 01:08] AJIXuMuK commented on #328
Hi @beats-lvt,

Thank you for reporting this!
Unfortunately, it's a standard behavior of Fluent UI Dropdown - it tries to use as much vertical space as possible.
Here is the sample of Fluent UI Dropdown (the third one is opened):

<img width="681" alt="Screen Shot 2021-02-08 at 5 08 28 PM" src="https://user-images.githubusercontent.com/17036219/107301427-514e6a00-6a30-11eb-9896-031a90af65f0.png">

[2021-02-09 01:08] #328 closed

[2021-02-09 02:26] AJIXuMuK commented on #221
Finally, it has been fixed.
Not only for People Picker, but for other controls as well.

The fix will be included in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/).

[2021-02-09 15:29] mikezimm opened #329 "SitePicker issue for Single Select when multiple search results are webs under single parent"
@AJIXuMuK , Tried tagging Niels Soeth but does not seem like his account is still active.

#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
"@pnp/spfx-property-controls": "^2.3.0",

#### Expected / Desired Behavior / Question
When I set component **multiSelect: false,** it should only select one site in the results returned from search.

#### Observed Behavior
When I have sea

[2021-02-09 15:39] mikezimm opened #330 "SitePicker suggestion: onHover search results - show URL"
@AJIXuMuK ,

#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version
"@pnp/spfx-property-controls": "^2.3.0",

#### Expected / Desired Behavior / Question
When I have similar site titles, be able to tell what Urls they come from so I can pick the right one.
I could add a label in the property pane showing the selected URL but it takes more space and doesn't get shown until I pick on

[2021-02-09 16:04] mikezimm commented on #330
I think I found where in the npm package it could be updated but am not sure how to do it:

![image](https://user-images.githubusercontent.com/49648086/107390627-df286480-6ac5-11eb-9e65-d3220ee497e8.png)

## From: PropertyFieldSitePickerListItem.js
[code]

## TO:  PropertyFieldSitePickerListItem.js
[code]

[2021-02-10 00:51] AJIXuMuK commented on #329
Good catch @mikezimm!

The fix has been merged and will be included in the next release.
Additionally, you will find new `webId` property in the selected `site` object.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/).

[2021-02-10 00:52] AJIXuMuK commented on #330
Hi @mikezimm!
Thanks for the suggestion.

I've implemented it in a bit other way: the URL is visible underneath the title of the site:

<img width="324" alt="Screen Shot 2021-02-09 at 4 48 03 PM" src="https://user-images.githubusercontent.com/17036219/107448761-2aa73680-6af7-11eb-860a-ea7ef6422f18.png">

It will be included in the next release.

In a meanwhile you can test the functionality in [be

[2021-02-12 15:05] wobba opened #331 "Support Page Environment dynamic properties on PropertyPanePropertyEditor"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [2.3.0]

#### Expected / Desired Behavior / Question
Right now all `DynamicProperty` settings are ignored on import. For `WebPart` ones it might make sense as id's are changing. For `PageContext` ones they should work as they exist everywhere.

https://github.com/pnp/sp

[2021-02-12 22:59] AJIXuMuK commented on #331
Hi @wobba,
Thanks for reporting this one.

There was an [issue](https://github.com/pnp/sp-dev-fx-property-controls/issues/200) that dynamic properties are causing issues. So, we disabled them.

I'll take a look if I can come up with some alternative approach.

[2021-02-13 00:43] AJIXuMuK commented on #331
@wobba I've implemented the change.

Could you please test it in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)?

[2021-02-15 05:53] t0mgerman opened #334 "Import from root causes unhelpful error message in SP / workbench"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version
2.3.0

#### Expected / Desired Behavior / Question
This is a bit of a RTFM thing I suppose. It appears the index of `@pnp/spfx-property-controls` is exporting many of the controls, such as `PropertyFieldMultiSelect` for example... if you attempt to import from here rather than the correct path of `@pnp/spfx-property-controls/li

[2021-02-15 16:19] wobba commented on #331
@AJIXuMuK sure thing - I'll let you know.

[2021-02-17 16:19] wobba commented on #331
@AJIXuMuK works like expected :) Thank you.

[2021-02-17 18:09] mikezimm commented on #330
@AJIXuMuK , I think this is a great improvement... Better than my implementation by far.
Thanks for the update!  I'm not sure if you close this with the final pull request though or close it now...

[2021-02-23 09:02] mrcpgn commented on #2
I have the same problem with @pnp/spfx-property-controls 2.3.0, PropertyFieldSitePicker context

[2021-02-23 09:21] mrcpgn opened #335 "PropertyFieldSitePicker context property expects IWebPartContext"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
@pnp/spfx-property-controls 2.3.0

#### Expected / Desired Behavior / Question
PropertyFieldSitePicker('sites', {
                  ....
                  context: this.context,
                  ...
                })
context in PropertyFieldSitePicker would map to WebPartContext.

#### Observed Behavior
`Type 'WebPartContext'

[2021-02-24 11:08] sbn11 opened #336 "Solution sample for PropertyFieldFilePicker?"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version
[2.3.0]

#### Question
Do you have a complete Sample how to use the PropertyFieldFilePicker? I can't get it working, but not sure if it's a bug or I'm doing something wrong. Please advise.

#### Observed Behavior
After importing the component and adding the Property as intended I get this error:
Type 'IPropertyPaneField<IProper

[2021-03-02 17:04] AJIXuMuK commented on #316
`v2.4.0` has been released.

[2021-03-02 17:04] #316 closed

[2021-03-02 17:04] AJIXuMuK commented on #326
`v2.4.0` has been released.

[2021-03-02 17:04] #326 closed

[2021-03-02 17:04] AJIXuMuK commented on #221
`v2.4.0` has been released.

[2021-03-02 17:04] #221 closed

[2021-03-02 17:04] AJIXuMuK commented on #329
`v2.4.0` has been released.

[2021-03-02 17:04] #329 closed

[2021-03-02 17:04] AJIXuMuK commented on #330
`v2.4.0` has been released.

[2021-03-02 17:05] AJIXuMuK commented on #331
`v2.4.0` has been released.

[2021-03-02 17:05] #331 closed

[2021-03-09 15:11] deanbot opened #341 "PropertyFieldCollectionData validation error persists after item deletion"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [2.4.0]

#### Expected / Desired Behavior / Question
When editing a collection **with at least one item**, if a validation error is triggered, deleting the item with the validation error should re-enable the collection Save button.

#### Observed Behavior
Save button st

[2021-03-09 15:21] deanbot opened #342 "PropertyFieldCollectionData validation error doesn't disable Save on new/empty collection"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [2.4.0]

#### Expected / Desired Behavior / Question
When editing a collection without any items populated, if a validation error is triggered, the collection Save button should be disabled.

#### Observed Behavior
Save button remains enabled when triggering an error on

[2021-03-12 03:12] sudharsank commented on #317
Hi @AJIXuMuK, I am interested to take this enhancement. Please let me know.

[2021-03-12 03:39] AJIXuMuK commented on #317
Sure @sudharsank! Thank you!

[2021-03-16 04:08] sudharsank commented on #336
Hi @sbn11, I wrote a blog post on how to use the FilePicker & FileTypeIcon. I hope that would resolve your issue.
[SPFx Using FilePicker & FileTypeIcon](https://spknowledge.com/2020/02/29/spfx-using-filepicker-and-filetypeicon-control/)

[2021-03-16 07:18] sbn11 commented on #336
Thank you @sudharsank.
Meanwhile I figured it out. The Properties don't work with SP onprem, I didn't see this at first. Thanks though.

[2021-03-16 07:18] #336 closed

[2021-03-17 10:16] TheThor59 opened #344 "Property Field Number round value on construction"
Hello,

The property field number is loosing decimal value on futher edits of the properties.

#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

Version in use is 2.4.0

#### Expected
According to documentation, using the component PropertyFieldNumber without setting property "precision" let the decimal unchanged and not rounded.

#### Observed Behavior
I'm using last version

[2021-03-17 15:53] TheThor59 commented on #344
I'm adding a point, if you set value to 0, the code initializing the component do a wrong test :
[code]
The test on this.props.value is false if value is equal to 0, as a result an error message appear that my field is not a number.

[2021-03-17 16:27] AJIXuMuK commented on #344
Thank you @TheThor59 for reporting this one!
The fix has been implemented and will be included in the next release.

In a meanwhile you can test it in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2021-03-17 16:32] TheThor59 commented on #344
Thanks for the help, I was working on a fix and got a conflict juste before pushing PR and didn't notice your message.

Thanks for the quick fix.

Regards.

[2021-03-17 16:42] TheThor59 commented on #344
Hello I created a new pull request as half of the issue was not fixed

[2021-03-17 19:16] AJIXuMuK commented on #342
Hi @deanbot,

Thank you for reporting this one!
It seems like a duplicate of #174 - and the behavior is by design.

[2021-03-17 19:16] #342 closed

[2021-03-17 19:40] AJIXuMuK commented on #344
The fix is in `dev` and should be soon available in beta version.

[2021-03-17 20:00] AJIXuMuK commented on #341
Hi @deanbot!
Thank you for reporting the issue!

It has been fixed and will be included in the next release.
In a meanwhile you can test the fix in [beta version](https://pnp.github.io/sp-dev-fx-property-controls/beta/)

[2021-03-19 19:11] weshackett opened #346 "SPFx 1.12 type clash issue"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2021-03-22 15:46] #344 closed

[2021-03-22 15:46] #341 closed

[2021-03-22 16:59] Dangerous-Mind commented on #335
Any news on this issue? Version 2.5 has the same problem.

[2021-03-23 03:09] dhruv-tank opened #349 "PropertyFieldListPicker context issue after upgrading to SPFx 1.12.0"
Type 'WebPartContext' is not assignable to type 'IWebPartContext'.
  The types of 'manifest.componentType' are incompatible between these types.
    Type 'import("C:/Users/node_modules/@microsoft/sp-module-interfaces/dist/index-internal").ComponentType' is not assignable to type 'import("C:/Users/node_modules/@pnp/spfx-property-controls/node_modules/@microsoft/sp-module-interfaces/dist/index-inter

[2021-03-23 03:19] AJIXuMuK commented on #349
duplicate of #346.
Will be fixed in v3.

[2021-03-23 03:19] #349 closed

[2021-03-24 00:51] joelfmrodrigues commented on #224
@russgove what type of usage did you envisage here? Perhaps save the function Url for a future request?

[2021-03-26 02:01] sudharsank commented on #317
Hi @jscudder, the control is released. Hope you had already tried the control? Let us know if you have any issues.

[2021-03-26 22:08] ColinGardner commented on #346
With SPFx 1.12 currently withdrawn and for anyone still experiencing this issue I have discovered you can just effectively ignore it  with:
 // @ts-ignore
 context: this.context,

[2021-04-07 21:39] mcmpistachio commented on #335
I'm seeing the same issue on the PropertyFieldPeoplePicker with the WebPartContext is not assignable to the BaseComponentContext. Any work arounds that could shed some light on other issues of context?

[2021-04-07 22:17] AJIXuMuK commented on #335
Hi @mrcpgn,

What version of SPFx are you using? Are you on-prem or online?

[2021-04-08 07:04] mrcpgn commented on #335
Hi @AJIXuMuK,
1.10.0 - online.

[2021-04-08 16:26] AJIXuMuK commented on #335
`v2` of controls has a dependency on SPFx `v1.11`.
So, my suggestion is either use controls `v1` or (better in all ways) - upgrade to SPFx `v1.11`.

[2021-04-12 15:26] mrcpgn commented on #335
thanks @AJIXuMuK, I will try to update to version 1.11 and give you feedback

[2021-04-13 21:28] wilecoyotegenius opened #352 "Adding debounce property to ColorPicker"
#### Category
- [X] Enhancement
- [ ] Bug
- [ ] Question

#### Version
3.0.0

#### Expected / Desired Behavior / Question
ColorPicker could profit from debounce property just as SliderWithCallout did. This way it will be possible to avoid an event flooding effect when someone decides to move over palette with mouse button pressed.

#### Observed Behavior
When you try to select a color from a palet

[2021-04-15 18:45] mikezimm opened #353 "Is it normal for sppkg file to jump from 521k to 732k just by adding people picker"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version
Latest

#### Expected / Desired Behavior / Question
I installed the latest version to get the People Picker and my finished sppkg file went from 521k to 732k.
Is this normal?  I presume it is loading the entire library and not just the people picker.  Is there a way to trim down what is imported?

Question 2: If I deploy my web

[2021-04-23 20:03] AJIXuMuK opened #355 "Site Picker doesn't return sites with title starting from the typed string"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [2.5.0]

#### Expected / Desired Behavior / Question

I have a site "PnP Demo".
If I type "PnP" in the Site Picker I expect to see "PnP Demo" site in the result set.

#### Observed Behavior
The site is missing in the result set

#### Steps to Reproduce
1. add `PropertyF

[2021-04-23 20:10] #346 closed

[2021-04-29 10:23] vamsi981 commented on #317
Unable to add Filter through filter property  Below is what it is going through browser
<img width="647" alt="Screenshot 2021-04-29 at 3 35 29 PM" src="https://user-images.githubusercontent.com/881555/116535103-ffb3ce00-a900-11eb-8f74-2a5f356ab3df.png">

Filter not working properly and debugged the found the following error in the code
"SPColumnPickerService.js"

`if (this.props.filter) {

[2021-04-29 10:35] vamsi981 opened #356 "Filter not working properly on PropertyFieldColumnPicker"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2021-05-02 12:44] mpowney opened #358 "Create a new PropertyField type for a completely custom wp props UI"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

[ 1.17 ]

#### Expected / Desired Behavior / Question

It would be nice to have a property field that can present a panel, like ```PropertyFieldCollectionData``` - the idea is instead of the panel showing a list of array items, the panel contents is a custom react component. The dev will create the custom react component, and

[2021-05-02 19:54] AJIXuMuK commented on #353
Hi @mikezimm - there are localization files that also included in the `.sppkg`. But they're not loaded to the page.
Could you please check if the actual `js` produced by `gulp bundle --ship` is large?

[2021-05-03 14:11] mikezimm commented on #353
@AJIXuMuK ,
I keep backups of all the sppkg files so I just opened them up and looked at the files.  If you need me to re-do the gulp bundle --ship, let me know.

Looks like the js file Packed Size went from 366kb to 453kb.  I also did notice there were the 27 or so new localization files in there that you mentioned.

This was before:
![image](https://user-images.githubusercontent.com/49648086/116

[2021-05-03 16:04] AJIXuMuK commented on #353
@mikezimm  - 100 Kb probably more or less expected as `PeoplePicker` uses multiple rich components from Fluent UI.
But I will take a closer look on that.

[2021-05-03 19:59] mikezimm commented on #353
Thanks @AJIXuMuK , I think you could close this one unless you want to keep it open while you check.
I did learn a few things about how the sppkg file works (with the local strings files being loaded as needed) so that was also beneficial.

Thanks!
Mike

[2021-05-03 23:27] joelfmrodrigues opened #359 "Invoke panel of FilePicker after first load using `isPanelOpen` property"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [     2.6.0, 3.0.0    ]

#### Expected / Desired Behavior / Question
Be able to invoke panel of FilePicker after first load using `isPanelOpen` property

#### Observed Behavior
Updating property `isPanelOpen` has no effect

#### Steps to Reproduce
Add control to a page

[2021-05-04 14:33] jimmywim opened #360 "SPFX 1.12.1 support"
Is there a release in the pipeline for support for 1.12.1?

Including v3.0.0 into a 1.12.1 project still breaks because internally the dependencies inside this solution (and the other pnp controls solution) still reference 1.12.0.

[2021-05-04 21:05] joelfmrodrigues commented on #360
@jimmywim should be very soon

[2021-05-07 22:04] #355 closed

[2021-05-07 22:06] #360 closed

[2021-05-07 22:41] joelfmrodrigues commented on #358
@mpowney just trying to understand the details a little better. What are the main benefits that you see the control would add? Are you trying to solve a specific/common/repetitive problem with it?

On a side note, as this seems to be related, have you seen this package created by @AJIXuMuK ?
https://www.npmjs.com/package/generator-spfx-proppane-control

[2021-05-07 22:46] joelfmrodrigues commented on #353
@mikezimm just to double-check, did you run `gulp clean` before creating the package? Seen multiple instances where people forgot to do this and their packages kept growing over time

[2021-05-07 22:50] joelfmrodrigues commented on #356
@vamsi981 thanks for reporting this, it does seem like a bug.
Would you be interested in trying to resolve it and submit a PR?

[2021-05-07 22:53] joelfmrodrigues commented on #321
@Dave-Buck closing this item as it should be resolved now. Please open a new issue if you still experience problems with the latest release.
Thanks for your contribution

[2021-05-07 22:53] #321 closed

[2021-05-07 22:56] joelfmrodrigues commented on #317
@jscudder closing this item as the control is now available.
Many thanks for your contribution

[2021-05-07 22:57] joelfmrodrigues commented on #317
@sudharsank Thanks a lot!

[2021-05-07 22:58] joelfmrodrigues commented on #317
@vamsi981 I noticed that you created a new issue for the problem described above, so this item will now be closed

[2021-05-07 22:58] #317 closed

[2021-05-07 23:03] joelfmrodrigues commented on #352
@wilecoyotegenius Thanks, sounds like a good improvement. As you volunteered to submit a PR with the change, will assign this issue to you

[2021-05-10 20:52] Chrisrb05 opened #364 "Stock images url is getting a 404 server error"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 2.6.0 ]

#### Expected / Desired Behavior / Question

The Stock Images tab in the FilePicker control shows a 404 server error.

This issue has been resolved in the @pnp/spfx-controls-react package (Issue [#882](https://github.com/pnp/sp-dev-fx-controls-react/issues/88

[2021-05-14 22:42] AJIXuMuK commented on #356
Hi @vamsi981 - the fix has been implemented and will be included in the next release.

[2021-05-14 22:50] AJIXuMuK commented on #353
@mikezimm - I've removed 2 unused imports from the control. But I don't think it'll drastically change anything.

For your other questions.

Question 2: js files are hosted on the tenant app catalog site (or public CDN if you activated one) in any case. They're not copied/cached locally on the site collection where the app is installed.

Question 3: It should not affect the debugging.

[2021-05-14 22:50] AJIXuMuK commented on #353
I'll close the issue. Let us know @mikezimm if you need any additional help.

[2021-05-14 22:50] #353 closed

[2021-05-14 22:51] AJIXuMuK commented on #335
Any updates @mrcpgn?

[2021-05-14 23:09] AJIXuMuK commented on #334
Hi @t0mgerman,
I can't repro this issue.
`import { PropertyFieldMultiSelect } from '@pnp/spfx-property-controls';` works fine.

Could you please check what versions of devtools you're using? Node/npm, Gulp?

[2021-05-17 12:17] IvanTheBearable opened #366 "Version 2.6 is not fully SPFx 1.12.1 compatible"
#### Category
- [ ] Enhancement
- [ X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 2.6.0 and 2.7.0 beta ]

#### Expected / Desired Behavior / Question

The following code should compile:
[code]

#### Observed Behavior

Unfortunately, it fails to compile, reporting the following error on the `context: this.context,` line:

[code]

I'm not sure how t

[2021-05-17 15:22] joelfmrodrigues commented on #366
Hi @IvanTheBearable, version 2.X is for SPFx 1.11.0. For SPFx 1.12.1 you should be using version 3.1.0 of the property controls.
Please try updating to 3.1.0 as that should resolve the issue

[2021-05-17 19:23] IvanTheBearable commented on #366
Hmm. 2.6 and 2.7 beta is all pnpm offered me. I will look into that. Thank you.

[2021-05-17 19:23] #366 closed

[2021-05-17 20:14] joelfmrodrigues commented on #366
@IvanTheBearable you can see a list of all versions here: https://www.npmjs.com/package/@pnp/spfx-property-controls (click on the Versions tab).

[2021-05-17 20:38] IvanTheBearable commented on #366
Yes, I looked there. What appears to have happened is that I didn't look past the @latest and @next tags, which are 2.6 and 2.7 beta respectively. I didn't scroll down enough to see 3.1. :-)

[2021-05-19 13:20] mikezimm commented on #353
@joelfmrodrigues , Yep I run gulp clean every time but thanks for the reminder.

@AJIXuMuK , Thanks for the answers to the questions!

[2021-05-25 14:16] kpfeuffer opened #369 "PropertyFieldCollectionData is not setting sortIdx on resulting collection when using Add and Save"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [   2.7.0    ]

#### Expected / Desired Behavior / Question

The PropertyPaneFieldCollectionData with enableSoting enabled always returns a collection with the corresponding sort-position.

#### Observed Behavior

When using the PropertyFieldCollectionData with enableSo

[2021-05-29 00:00] #335 closed

[2021-05-29 01:00] #334 closed

[2021-05-31 15:04] ahamedfazil commented on #364
Having same issue, using following version - "@pnp/spfx-property-controls": "3.1.0" & spfx 1.12.1

Thanks,

[2021-06-02 00:36] mpowney commented on #358
Hi @joelfmrodrigues, the idea is to allow dev's to provide a rich experience for content authors, where the available surface area of the OOTB property pane panel isn't large enough to express the UI they want.  Think of where the PropertyFieldCollectionData is used - it offers a "richer" experience than other property fields, but it is restricted to only properties that are arrays.

It surely can

[2021-06-18 23:43] AJIXuMuK commented on #369
Thank you @kpfeuffer for reporting the issue!
The fix has been implemented and will be included in the next release.

[2021-06-24 01:43] russgove commented on #224
Sorry for delayed response. I don’t remember the original issue , so i must have found a workaround!
I thing the gist is that if i had a web part that’s going to call an azure function, but there were several different versions of that function , i would be able to choose the one i wanted.

closing ticket, as it doesn’t seem to make sense now.

[2021-06-24 01:43] #224 closed

[2021-06-24 02:01] russgove opened #375 "Add ContentTypeId property to the list picker. Let"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2021-06-28 16:40] mjarmstrong opened #376 "Add remove capability to PropertyFieldFilePicker"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2021-06-30 08:40] DJoshi23 opened #377 "SitePicker control not returning any value in only one tenant and in other tenant it's working fine"
SitePicker Pnp control not returning any value in my one of the tenant but in other tenant it's working fine .

Scenario :  I have created one SPFx solution with Site Picker control

After deploying SPFx solution in tenant A then Site Picker control returning the sites and after deploying same SPFX Solution in another tenant then site picker showing no results

In Both the tenant I have sites

Cod

[2021-07-01 08:28] gallantdon opened #378 "Making multiselect in CustomCollectionFieldType more feasible"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.2.0]

#### Expected / Desired Behavior / Question
Is it possible to pass the "previous" value of the selection into the onCustomRender of the custom collection field type? I am trying to implement a multiselect using a dropdown and the item itself is not available wi

[2021-07-02 05:49] M365Bass opened #379 "[Question] PropertyFieldCollectionData: number input shows placeholder instead of 0"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version
Please specify what version of the library you are using: [v3.2.0]

Using PropertyFieldCollectionData with a number input (CustomCollectionFieldType.number), a value of 0 seems to clear the input field's contents and show the placeholder text instead of showing 0. This is problematic when 0 is a valid input.

![Zero shows place

[2021-07-05 09:56] joelfmrodrigues commented on #375
@russgove assuming this is the same that you did for the controls, would you be interested and available to submit a PR?

[2021-07-05 12:53] russgove commented on #375
yes, i can take care of it.

Sent from my iPad

[2021-07-12 13:50] ikaroamorim opened #380 "[ColorPicker] - Ingnoring Hue Bar"
The property pane color picker, when we move the selector for full left or full bottom, the component stops to listen to the hue bar. If you are, for instance in blue on the hue bar, the color back to red and even if you move the picker it still red.

![image](https://user-images.githubusercontent.com/44349801/125296407-a4d52480-e2fc-11eb-9c63-5de095f0e867.png)

![image](https://user-images.github

[2021-07-21 11:11] nsoeth opened #381 "New control: PropertyFieldSizeWithUnit"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Expected / Desired Behavior / Question
I created a webpart where I needed to let the user decide the width. Instead of having a number field and a dropdown with the unit I thought it would be cool if there was one control with two inputs which would consist of a number field and a dropdown with units which are configurable in the compo

[2021-07-23 11:20] spverma03 opened #382 "SitePicker shows App Catalog"
#### Category
- [ ] Question

#### Observed Behavior
Site Picker shows unwanted sites as well such as App Catalog. Is there a way to exclude/filter some sites?

Thanks!

[2021-07-29 05:43] M365Bass opened #383 "PropertyEditor does not update property value when previously set to blank"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
Please specify what version of the library you are using: latest

#### Expected / Desired Behavior / Question
When editing property values, I should be able to edit an empty string to add a value to it.

#### Observed Behavior
If the current value of a property is blank, it cannot be edited using the Property Editor control

##

[2021-07-29 16:40] hugoabernier opened #385 "Any interest in a Monaco-based code editor?"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Expected / Desired Behavior / Question

I created a property pane control that uses the Monaco editor for code editing. I have added the ability to support custom languages, custom syntax highlighting, and custom theming and validation. Of course, it also supports all languages supported by Monaco.

Is this something that would be usef

[2021-07-29 19:31] joelfmrodrigues commented on #385
Hey @hugoabernier

Sounds great 🙂
Would that be a breaking change to the existing control or a new control?
From your message it seems like a new control, but just to be sure.
And would it be possible to easily transition from one to the other if users wanted to upgrade to your control as it would offer more features? If so, I guess we could consider going with only one at some point in the future

[2021-07-29 20:04] hugoabernier commented on #385
@joelfmrodrigues My thought was to do it a compatible of the existing control, so that existing solutions continue to work (but with a minor look and feel difference in the editor window).

[2021-07-29 20:16] joelfmrodrigues commented on #385
@hugoabernier sounds great 🙂
@AJIXuMuK any comments?

[2021-08-03 03:32] joaoworkhub opened #386 "Site Picker doesn't return sites with title with 2 or less characters"
#### Category
- [x] Enhancement
- [X] Bug
- [ ] Question

#### Version
Please specify what version of the library you are using: [2.7.0]

#### Expected / Desired Behavior / Question
There are many sites with just 2 characters in the title, like TI, HR etc. I would like to find these sites typing one or two characters (maybe with component property that allow me to set minimun characters to type be

[2021-08-11 14:02] m23-github opened #388 "PropertyFieldDateTimePicker: formatDate property doesn't apply to the textbox value in the property pane"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [2.7.0]

#### Expected / Desired Behavior / Question
When we fill the formatDate property, it should be refleted in the DatePicker textbox value in the property pane so we present the date value in the desired format.
The main goal of this enhancement is to present the

[2021-08-18 09:48] LennardCZ opened #389 "FilePicker cannot find library based on its name"
#### Category
- [ ] Enhancement
- [x ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [    3.2.0     ]

#### Expected / Desired Behavior / Question

List all elements in a default document library

#### Observed Behavior

The Filepicker cannot find the default library based on its name if the browser language is not english (German in this case). This r

[2021-08-23 07:59] M365Bass opened #390 "@pnp/sp and related dependencies upgrade?"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version
Latest

#### Question
I noticed the latest package is still using `@pnp\sp` version 1.3.11 which is a few versions behind the current 2.8.0.
Are there any known breaking changes in pnp\sp and other dependencies resulting in this decision? If not, happy to start the work to upgrade these dependencies to latest.

Thanks,
Bass

[2021-09-22 17:14] ellinge opened #391 "Include typings for mystrings/localization"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version
3.2.0

#### Desired Behavior
In https://github.com/microsoft-search/pnp-modern-search/pull/1282 I found a need to use the localized required message from this library when doing custom validation. But the interface/typings/module in mystrings is not included in the bundle/output.

They are probably regarded as internal but I do

[2021-09-22 17:34] ellinge opened #392 "Improved validation and conditional support for PropertyFieldCollection"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version
3.2.0

#### Desired Behavior
In https://github.com/microsoft-search/pnp-modern-search/pull/1282 I found a need to add some custom validation and conditional headers which seemed to be hard to do with the out of the box exposed methods/events available in https://pnp.github.io/sp-dev-fx-property-controls/controls/PropertyFieldCo

[2021-09-24 10:01] 19ahmed99 opened #396 "[PropertyFieldOrder] Not working with array of objects"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version: [ 3.2.0]

#### Expected / Desired Behavior
The PropertyFieldOrder is not working with array of objects as described in the documentation.

#### Observed Behavior
This error message is prompted in the console when I try to move any object using the PropertyFieldOrder:

![error message](https://user-images.githubusercontent.com/

[2021-10-02 21:35] petkir commented on #390
@pnp/spfx-property-controls Version 3.2 reference to 1.3.11
and @pnp/spfx-controls-react 3.3 point to 2.5.0

I think the same version would be nice. @M365Bass

[2021-10-14 01:26] AJIXuMuK commented on #358
Hi @mpowney!
Thank you for the suggestion!
It would be great to see a PR from you. You mentioned that you've already implemented similar controls in your projects.
So I believe you would provide a better thought-out component.
Let us know it you're in!

[2021-10-15 02:17] svermaak opened #398 "Tooltips for Property Panel Headings"
#### Category
- [ x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [   latest      ]

#### Expected / Desired Behavior / Question
It would be great to have the capability to add an option tooltip to Property Panel Headings

#### Observed Behavior
Property Panel Headings can get long if you are trying to be descriptive. Shorter panel h

[2021-10-25 13:00] yarkovaleksei opened #401 "Add a handler to close a filepicker"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.20.0]

#### Expected / Desired Behavior / Question
Hello! Is it possible to add a handler to close a filepicker without selecting a file?

Thanks!

[2021-10-30 05:00] joaoworkhub commented on #386
Any updates about that issue?

[2021-11-04 21:19] nataliyaioffe commented on #396
I am experiencing this issue as well. Any update?

[2021-11-08 07:03] spverma03 opened #402 "Some sites do not show up in Property Field Site Picker control."
#### Category
- [ ] Enhancement
- [x] Bug
- [x] Question

#### Version

3.2.0

#### Expected / Desired Behavior / Question
We are observing that not all sites are fetched by PnP Property Field Site Picker Control. Specially sites having same templates. This is related to similar bug we recently observed in PnP Site Picker Control (spfx-controls-react), which was fixed. Hopefully, a similar code wi

[2021-11-09 07:26] spverma03 commented on #402
Hi @AJIXuMuK, Adding you to this thread so that you can support in triage of this issue.

[2021-11-09 13:41] AJIXuMuK commented on #391
Hi @ellinge - why do you need strings from the library, but not creating your own set of strings?

[2021-11-09 14:16] ellinge commented on #391
As described in the issue, instead of having to write a required message for all your already implemented languages I can only reuse it if exposing it as suggested. There's a dependent custom validation done in the pnp-modern-search issue which means a field is not required all the time.

[2021-11-10 02:20] Theosaurus-Rex opened #411 "PropertyFieldFilePicker not working in Viva ACE Property Panes"
#### Category
[ ] Enhancement

[ x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [     3.2.0    ]

#### Expected Behaviour
Expected the control to work when implemented with a Viva Adaptive Card

#### Observed Behaviour
When implementing the control, I initially sort of got it working inside the separate Property Control Pane file that comes scaffolded

[2021-11-11 02:06] AJIXuMuK commented on #402
Thanks @spverma03 for reporting this one!

It has been fixed and will be included in the next release.

[2021-11-16 04:33] RasheshJagad opened #404 "PropertyFieldCodeEditor width"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 3.2.0 ]

#### Expected / Desired Behavior / Question
If we can specify the width of the PropertyFieldCodeEditor that will really help if we have more things to be written.

#### Observed Behavior
The width of the PropertyFieldCodeEditor is not modifiable.

#### Steps

[2021-11-16 22:36] thechriskent opened #405 "Incompatible with SPFx 1.13"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 3.2 ]

#### Expected / Desired Behavior / Question
Using the PropertyFieldListPicker should work

#### Observed Behavior
Unable to configure it because I receive the following error when setting context to `this.context` (SPFx Webpart):

[code]

#### Steps to Reproduc

[2021-11-17 05:35] spverma03 commented on #402
@AJIXuMuK Thank you for the update. Is there any expected timeline for next release rollout?

[2021-11-18 01:31] AJIXuMuK commented on #391
Thank you for adding the PR for that enhancement!

[2021-11-18 01:31] #364 closed

[2021-11-18 01:31] #356 closed

[2021-11-18 01:31] #352 closed

[2021-11-18 01:32] #369 closed

[2021-11-18 01:38] AJIXuMuK commented on #405
Hi @thechriskent - thanks for reporting this one.
1.13.* support will be included in the next release.

[2021-11-18 02:18] AJIXuMuK commented on #404
Hello @RasheshJagad - thank you for the suggestion.
The change has been made and will be included in the next release.