[2021-11-19 18:16] AJIXuMuK commented on #402
@spverma03 - I suppose next week or a week after next

[2021-11-19 18:19] AJIXuMuK commented on #401
Hello @yarkovaleksei  - could you please provide more details on your idea?
Do you need an API that can be called from outside the control to initiate closing of the panel?

[2021-11-19 18:21] AJIXuMuK commented on #398
Hi @svermaak - do you mean tooltips for columns headers?

[2021-11-19 18:53] AJIXuMuK commented on #396
Thank you @19ahmed99 for reporting this issue.
The fix has been done and will be included in the next release.

You can use beta version in a meantime.

[2021-11-19 18:55] AJIXuMuK commented on #392
@ellinge - I assume this one will be fixed in the next release as we've merged all of the PRs, correct?

[2021-11-19 19:06] ellinge commented on #392
Yes, should cover the needs for pnp search at least.

[2021-11-19 19:28] AJIXuMuK commented on #390
Hi @M365Bass - thank you for the suggestion.
It makes sense to consider. But we'll need to completely reimplement `PropertyFieldEnterpriseTermPicker` as PnPJS v2 has other Taxonomy api.

[2021-11-19 19:38] AJIXuMuK commented on #389
Hello @LennardCZ - could you please provide more details?

If I change my browser language to any other - it doesn't change the title of the document library in the site. It is still Documents.
When exactly are you experiencing the issue?

[2021-11-20 12:30] yarkovaleksei commented on #401
@AJIXuMuK No) I need a handler for clicking on the "Cancel" button when you change your mind about choosing a file.

https://github.com/pnp/sp-dev-fx-property-controls/blob/master/src/propertyFields/filePicker/PropertyFieldFilePicker.ts#L47

[code]

[2021-11-20 16:50] AJIXuMuK commented on #401
Gotcha @yarkovaleksei.
The improvement has been done and will be included in the next release.

[2021-11-20 16:54] AJIXuMuK commented on #386
Hello @joaoworkhub - that is a good suggestion.
I will look into it to provide some solution.

BTW, we encourage everyone to make PRs. So, if you want to implement that feature - just let us know.

[2021-11-21 05:05] RasheshJagad commented on #404
Thanks for taking this into considering and updating Team.

[2021-11-22 10:25] LennardCZ commented on #389
Hello @AJIXuMuK - Thank you for answering.

I have configured the FilePicker to only display the "Recent" and "Website" tabs. Accordingly I get all the Listst on the current page.

English
![filePicker_en](https://user-images.githubusercontent.com/49514884/142840636-713454af-57bf-41eb-8d13-9fb67c9da7f7.png)

German
![filePicker_de](https://user-images.githubusercontent.com/49514884/142840701-f447b

[2021-11-23 05:48] rheajt opened #409 "PropertyPaneDateTimePicker does not display correctly when deployed"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 3.2 ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
_If you are reporting an issue please describe the expected behavior. If you are suggesting an enh

[2021-11-23 14:22] AJIXuMuK commented on #409
Hello @rheajt. Thank you for reporting this one.
Just for clearance - are you using isolated web part?

[2021-11-23 23:00] rheajt commented on #409
@AJIXuMuK  Yes (I think so). It is basically boilerplate directly from the generator and the property pane stuff installed.

[2021-11-25 13:14] vreezy opened #410 "PropertyFieldTermPicker add restriction to only SiteCollection Term store"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ "@pnp/spfx-property-controls": "3.2.0" ]

#### Expected / Desired Behavior / Question
PropertyFieldTermPicker (Enterpise)
I want to restrict the Picker to "site Collection Term store"

The Problem: The name and ID of the site Collection Term store is different in ever

[2021-11-27 00:35] joelfmrodrigues commented on #411
@Theosaurus-Rex issue transferred to the correct repository

[2021-11-29 10:57] chrisfriz opened #412 "PropertyFieldFilePicker should allow setting a default tab"
#### Category
- [X] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.2.0]

#### Expected / Desired Behavior / Question
PropertyFieldFilePicker should allow to be configured optionally with a default tab, instead of defaulting to the recent tab, since this doesn't make sense if the recent tab is hidden. Happy to contribute with a PR fo

[2021-11-29 14:04] AJIXuMuK commented on #412
Thank you @chrisfriz for the suggestion, and for sure feel free to create a PR!

Thanks!

[2021-12-02 06:16] keith-knight opened #414 "Incompatible with pnpjs 2.x"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.2.0]

#### Desired Behavior

Currently @pnp/spfx-property-controls still has a dependency on v1.x of pnpjs... because of this we can not upgrade our project to v2.x of pnpjs (which came out nearly 2 years ago). Can spfx-property-controls be upgraded to use pnpjs 2.x?

[2021-12-02 14:30] AJIXuMuK commented on #414
Hello @keith-knight - I assume you can update. But the bundle size will increase as you will reference 2 separate libraries.

We're thinking on updating the reference, but for now there is a dependency on `EnterpriseTaxonomyPicker` on APIs that are not available in v2 of PnPJS.

[2021-12-02 14:31] AJIXuMuK commented on #414
Dupe of #390

[2021-12-02 14:31] #414 closed

[2021-12-03 13:52] CV-Ankit opened #415 "PeoplePicker control same user not accept while email is different."
We have one license internal user and one external user. both have same name but different email id.

In one people picker both user cant be selected as both share same name.

**Version using**
@pnp/spfx-controls-react ^2.10.0
Control: https://pnp.github.io/sp-dev-fx-controls-react/controls/PeoplePicker/

Thank you in advance.

[2021-12-06 08:14] michaelcoxon opened #416 "Evaluates as false on valid values like "", 0, false"
https://github.com/pnp/sp-dev-fx-property-controls/blob/dd2f4eff1ace10ce5ae19c72f1911a6b7355ef31/src/propertyFields/propertyEditor/PropertyPanePropertyEditorHost.tsx#L50

[2021-12-07 17:46] AJIXuMuK commented on #405
it is released.

[2021-12-07 19:36] sortegamartin commented on #405
Hi, I see that the latest release is v3.2.0 generated on June 23.  When will the release that includes these latest changes be released?

[2021-12-07 20:13] AJIXuMuK commented on #405
Sorry - there is some issue with the pipeline. It should have been released last week.
Will check out what's going on and release it correctly.

[2021-12-16 07:50] #383 closed

[2021-12-17 07:12] yarkovaleksei commented on #401
@AJIXuMuK Thanks a lot. And will functionality be added to version 1? It so happened that we are using the 1.20.0 package and cannot update.

[2021-12-17 14:24] AJIXuMuK commented on #401
@yarkovaleksei - we're not actively maintaining v1 (mostly bugs).
But if you create a PR - will be happy to review and include it in v1.

[2021-12-18 17:19] #391 closed

[2021-12-18 17:19] #392 closed

[2021-12-18 17:19] #396 closed

[2021-12-18 17:19] #401 closed

[2021-12-18 17:19] #402 closed

[2021-12-18 17:19] #404 closed

[2021-12-18 17:23] AJIXuMuK commented on #416
Thank you @michaelcoxon for reporting this one.
The issue has been fixed in 3.3.0

[2021-12-18 17:23] #416 closed

[2021-12-18 17:32] AJIXuMuK commented on #409
@rheajt - unfortunately, it is by design.
We are limited with what's provided by SPFx and Fluent UI.
In that case isolated web part's property pane is rendered in an iframe with limited width.
This width is not enough to display Fluent UI `DatePicker`.
And there is no property to display it inline.

[2021-12-18 17:32] #409 closed

[2021-12-18 17:46] AJIXuMuK commented on #411
Hi @Theosaurus-Rex - what exactly doesn't work for you?
I don't see any issues:
<img width="1595" alt="Screen Shot 2021-12-18 at 12 43 12 PM" src="https://user-images.githubusercontent.com/17036219/146650792-afca5b55-3226-4b3d-881e-ad4739e2dfe2.png">

I took your example, installed property controls in there.
This is the code for property pane:
[code]

And here is how it's called:
[code]

[2021-12-18 17:46] AJIXuMuK commented on #405
3.3.0 has been release.

Should be good now.

[2021-12-18 17:46] #405 closed

[2021-12-21 13:32] AJIXuMuK commented on #389
Thank you @LennardCZ for the explanations.
The issue has been fixed and will be included in the next release.

[2021-12-23 01:35] #411 closed

[2021-12-30 12:12] BorisLand opened #425 "@pnp/spfx-property-controls PropertyFieldFilePicker => Upload does not work and Site Assets does not show files for other languages"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version
"@pnp/spfx-property-controls": "3.3.0"

### Component
PropertyFieldFilePicker

#### Expected
1. Upload File work fine
2. Library "Site Assets" display all file for other language (example: german)

#### Observed Behavior
1. Upload file does not work. No file Uploaded.
2. Switch the browser language to german, select "Website" (ger

[2022-01-06 23:14] Theosaurus-Rex opened #427 "PropertyFieldFilePicker - Preview for picked file updates across all instances"

[2022-01-08 17:03] AJIXuMuK commented on #388
Thank you @m23-github for reporting this one.
The fix has been made and will be included in the next release.

[2022-01-08 17:06] AJIXuMuK commented on #385
@hugoabernier @joelfmrodrigues - sorry for the delay.
As I know, devs change the properties of the current code editor directly (`AceEditor`). I don't think we can switch one with another without breaking some of the implementations.
So I'd do `MonacoCodeEditor` control with the same set of properties (maybe reuse interface or extend it).

[2022-01-08 17:08] AJIXuMuK commented on #382
Hi @spverma03 - sorry for the long delay.
We've introduced the new property `additionalQuery?: string;` that allows you to add an additional query to filter out sites you don't want.

[2022-01-08 17:08] #382 closed

[2022-01-08 17:09] AJIXuMuK commented on #381
@nsoeth - sorry for the long delay.
It would be awesome if you submit a PR with this control!
Will be happy to review!

[2022-01-08 17:11] AJIXuMuK commented on #380
Hi @ikaroamorim - thank you for reporting this one and sorry for the delay.
Could you update the version of controls you're using to the latest one?
I assume there was an issue in Fluent UI that we're using under the cover.
And currently we're on v7 instead of v5 in the version you're on.

[2022-01-08 17:17] AJIXuMuK commented on #379
Thanks @M365Bass for reporting this one and sorry for the long delay.
It is definitely a bug.
And it has been finally fixed. Will be included in the next release.

[2022-01-08 17:23] AJIXuMuK commented on #378
Hi @gallantdon - sorry for the long delay.
Could you explain why you need this parameter in render function?
If you have a custom control, you can have your own "state" where you can store previous value if you need it.
I don't think `prevValue` should be a parameter of `onCustomRender`

[2022-01-09 04:43] M365Bass commented on #379
Thanks @AJIXuMuK - appreciate your efforts 👏🏻

[2022-01-09 22:26] gallantdon commented on #378
I believe the reason was that I was attempting to use the pnp control multiselect and to pass a prevValue would allow for me to use that without needing create a custom control just for managing this piece.

[2022-01-15 16:52] AJIXuMuK commented on #378
@gallantdon - I would just use dropdown from the OUIFR for the custom implementation.

[2022-01-15 16:52] #378 closed

[2022-01-22 19:00] #380 closed

[2022-01-25 07:36] pk-1990 opened #424 "PropertyFieldChoiceGroupWithCallout: iconProps not working"
#### Category
Bug

#### Version

Please specify what version of the library you are using: [    3.3.0     ]

#### Expected / Desired Behavior / Question
When using the PropertyFieldChoiceGroupWithCallout, specifying the iconProps property in combination with the officeFabricIconFontName should render choice buttons with an icon instead of a regular radio button, just like the OOTB PropertyPaneChoi

[2022-01-26 01:00] AJIXuMuK commented on #160
@malcom1120 - it's been a while :)
We've made the changes that will be available in the next release.
You'll be able to use `IconPicker` instead of `TextBox` in the icon field. See related PR for details.

[2022-01-28 08:32] SPFxAppDev commented on #425
I also have this problem with multilingualism. In the FilePicker control (from @pnp/spfx-controls-react) the items are fetched from the list via the URL, in the PropertyFieldFilePicker Control still via the list title. And if it's a title from another language than the default web language, the call doesn't work. I think, it is the getListItems-Method in the [FileBrowserService](https://github.com

[2022-01-29 17:17] AJIXuMuK commented on #424
Thank you @pk-1990 for reporting this issue!
It has been fixed and the fix will be included in the next release.

[2022-01-29 17:23] AJIXuMuK commented on #425
@BorisLand @SPFxAppDev I made changes for multilingual support while fixing #389. The fixes are available in beta version.
Could you please check if this issue has been resolved as well?

[2022-01-31 10:30] SPFxAppDev commented on #425
@AJIXuMuK Looks good. I now get the files for other languages as well. Thanks

[2022-01-31 16:21] AJIXuMuK commented on #425
Thanks for the confirmation!

[2022-01-31 16:21] #425 closed

[2022-02-04 10:46] Link631 opened #426 "PropertyFieldCollectionData missing in index exports"
- [ ] Enhancement
- [x ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [     3.3    ]

#### Expected / Desired Behavior / Question
When i try to reuse the PropertyFieldCollectionData, i expect, that intellisense shows up this component, because it should be exported through index.ts
#### Observed Behavior
PropertyFieldCollectionData cannot be imported,

[2022-02-04 11:06] Link631 commented on #426
forgot... I can also import from @module/somePath....

[2022-02-04 11:06] #426 closed

[2022-02-12 17:20] #379 closed

[2022-02-12 17:20] #388 closed

[2022-02-12 17:20] #389 closed

[2022-02-12 17:20] #412 closed

[2022-02-12 17:20] #424 closed

[2022-02-12 17:37] AJIXuMuK commented on #160
Included in v3.4.0

[2022-02-12 17:37] #160 closed

[2022-02-14 12:15] anoopt opened #431 "Unable to use some property controls in ACEs"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
Please specify what version of the library you are using: [3.4.0]

#### Cause of the issue
Some of the PnP SPFx property controls are importing `IPropertyPaneField` , `PropertyPaneFieldType` and other data from `@microsoft/sp-webpart-base` instead of `@microsoft/sp-property-pane`.

![image](https://user-images.githubusercontent

[2022-02-15 21:10] joelfmrodrigues commented on #431
@anoopt many thanks for raising this issue and providing detailed information.
This is now fixed and will be available as part of the next major release.
It will also be available in the beta release that should be published within the next few minutes.

[2022-02-15 21:48] anoopt commented on #431
Thank you @joelfmrodrigues

[2022-02-18 14:34] #431 closed

[2022-02-21 16:00] milanholemans opened #434 "SPFx v1.14.0 unable to pass web part context object"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ 3.5.0 ]

#### Expected / Desired Behavior / Question
Using the PropertyFieldListPicker control as described in the documententation [https://pnp.github.io/sp-dev-fx-property-controls/controls/PropertyFieldListPicker](https://pnp.github.io/sp-dev-fx-property-controls/c

[2022-02-22 15:21] AJIXuMuK commented on #434
@milanholemans - thanks for reporting this one.
v3.5.0 is still based on SPFx v.1.13.
If you want to use 1.14 - you need to pass `this.context as any`

[2022-03-02 17:44] c-eiser13 opened #436 "PropertyFieldCollectionData add button disabled when it should not be"
#### Category
- [ ] Enhancement
- [ x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [    3.4.0     ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Observed Behavior
When using the PropertyFieldCollectionData control with non-required fields, when I have entered no data yet,

[2022-03-03 14:12] c-eiser13 commented on #436
Found and debugged the issue and will be submitting a pull request with potential fix.

[2022-03-06 09:14] joelfmrodrigues commented on #436
@c-eiser13 that's great! Many thanks! I will assign this item to you just to avoid other people seeing it as start work on it

[2022-03-11 22:07] milanholemans commented on #386
Looks like it explicitly checks if the search term is greater than 2 characters .
![afbeelding](https://user-images.githubusercontent.com/11723921/157976253-51c11a9f-dac9-4634-81f3-f52c086d65ea.png)

The search query used to search for sites also works with 2 or less characters (tested it). I can adjust this so the component searches when at least 1 character is entered.

[2022-03-12 19:00] russgove commented on #375
hmm. Looks like i added it to the sp-dev-fx-controls-react listpicker , not this one :-)
working on adding it here now.

[2022-03-18 19:59] #436 closed

[2022-03-20 22:40] Link631 opened #444 "spfx 1.13 and PropertyFieldListPicker context"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version
"@pnp/spfx-property-controls": "^3.6.0
spfx 1.13.1

#### Expected / Desired Behavior / Question
when using latest spfx with latest spfx property controls, it should be possible to pass the webpartContext property.

#### Observed Behavior
when using latest spfx with latest spfx property controls, following error appears, when I

[2022-03-22 14:39] jimmywim commented on #444
Yeah we've noticed the same thing. Does 3.6 require a newer version of spfx? Should this be detailed in the docs?

[2022-03-22 22:05] milanholemans commented on #444
Was discussed at [#434](https://github.com/pnp/sp-dev-fx-property-controls/issues/434).

[2022-04-04 10:58] IRRDC opened #446 "PropertyFieldCollectionData onUpdate does not cause Add/Add and save button to be enabled"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.6.0]

#### Expected / Desired Behavior / Question
When a custom field rendering field is required and a value gets selected or entered the Add and the Add and save buttons need to be enabled if there are no other required fields.

#### Observed Behavior
When using cu

[2022-04-07 19:20] dvselva commented on #375
Thank you. i am waiting for this as well

[2022-04-07 20:52] milanholemans opened #447 "Enhancement: provide preview of the current selected color for PropertyFieldColorPicker component."
#### Category
- [X] Enhancement
- [ ] Bug
- [ ] Question

#### Version
Please specify what version of the library you are using: [ 3.6.0 ]

#### Expected / Desired Behavior / Question
For the `PropertyFieldColorPicker` component, provide the ability to see the current selected color.

#### Observed Behavior
Currently impossible to get a preview of the current selected color.

#### Steps to Reprodu

[2022-04-20 09:15] IRRDC commented on #446
I just noticed another problem in this scenario: Changes to existing data rows won't get saved.

[2022-04-21 10:48] ivonool commented on #446
I can confirm this, ran to this issue also.

[2022-04-25 19:43] AJIXuMuK commented on #447
Thank you @milanholemans for proposing the enhancement and implementing it!

[2022-04-26 15:43] #447 closed

[2022-04-26 20:23] walleford opened #449 "SPfx FilePicker customCollectionFieldData Cannot Read Properties of Undefined"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2022-04-26 20:27] walleford commented on #449
The code did not format properly:
[code]

[code]

[2022-05-02 15:43] edarroudi opened #451 "Target Audience or Evaluation property controls"
#### Category
- [X] Enhancement

#### Version
Please specify what version of the library you are using: [3.2.0]

#### Desired Behavior
Coming from pnp-modern-search, I want to add a Property Control where the user can add some evaluation rules based on a internal object that has a token structure. Based on the result of the evaluation, the webpart should be hidden or shown.
Originally I planned to

[2022-05-09 09:39] joelfmrodrigues commented on #451
@edarroudi Thanks for the suggestion. I agree with Mikael, it would be a nice new control to have in the library and then you could just re-use it inside PnP search web parts.
A tree view control would be very nice 🙂 But really up to you if you prefer to start with a version like the screenshots above or try going for the full support of And / Or.
Please let me know if you are still interested in

[2022-05-09 10:08] edarroudi commented on #451
Thanks for the reply @joelfmrodrigues . I'll gladly do it - probably the treeview version. You can assign it to me and I start asap on a preview version. We can discuss the features / interface of the preview version then...

[2022-05-09 10:24] joelfmrodrigues commented on #451
@edarroudi many thanks and no rush from our side 🙂 We will review it whenever it's ready

[2022-05-09 20:44] joelfmrodrigues commented on #449
Hi @walleford

Copying this from a recent project where we used the control, hope it helps

Control (onSave can also be declared as a separate function if you prefer):

[code]

For uploading the content using PnPjs:

[code]

[2022-05-09 20:52] walleford commented on #449
Hello,

Thank you for that. Could you point me to the webpart utilizing it? I would like to see the code so I can understand better what is exactly happening.

[2022-05-09 21:03] joelfmrodrigues commented on #449
Sorry, this is a private web part from a client, not a public one.

[2022-05-09 21:08] walleford commented on #449
Ah okay I see. The onSave function looks like it is calling an uploadFiles function and passing the filePickedContent and filePicked.fileName. Would you be able to share that?

[2022-05-10 08:47] joelfmrodrigues commented on #449
Both properties (file content and file name) are then used in the block of code that I shared below. In my case, the solution is very complex and there is a lot of business logic going on between the two functions to manipulate data, which is why I didn't include that here, but in your case, you can just create a function `uploadFiles` and use the second block of code there - adding any missing bi

[2022-05-10 20:46] walleford commented on #449
Hello,

I have set it up this way:
[code]
{
                                            id: "filePicker",
                                            title: "Select File",
                                            type: CustomCollectionFieldType.custom,
                                            onCustomRender: (field, value, onUpdate, item, itemId, onError) => {

[2022-05-17 21:26] edarroudi commented on #451
hey @joelfmrodrigues I created a draf PR since I'm not finished but I would like to discuss some features / interface. Would you mind having a look?

[2022-05-18 12:38] joelfmrodrigues commented on #449
@walleford sorry for the late reply, hope you had resolved the issue by now, but if not..
I can't really spot anything strange just by looking at the code. Are able to debug it and see where it may be failing?
Are you able to get the contents of the file with `downloadFileContent()`?
Have you tried using a small and bigger file to test both cases inside the `uploadFiles` function?
Are you sure PnP

[2022-05-18 14:58] walleford commented on #449
Hey Joel,
Thank you for taking time to help me out, I did not get it figured out yet. When I run the above code in my project this is the output from the browser console:
![image](https://user-images.githubusercontent.com/95156821/169071655-cfbbb928-8c15-4cb0-9753-d34d74c9c173.png)
While it is not rendering into the webpart:
![image](https://user-images.githubusercontent.com/95156821/169071825-727

[2022-05-18 20:41] walleford commented on #449
@joelfmrodrigues I wanted to include this:
![image](https://user-images.githubusercontent.com/95156821/169152015-1652ea31-0b94-4b88-9981-a16723bd34cc.png)
It does not seem like downloadFileContent is pulling the absolute URL for the image, which is what I am using to render it

[2022-05-20 21:19] walleford opened #457 "Nested CollectionField Data"
#### Category
- [X] Question

#### Version

Please specify what version of the library you are using: [    3.6.0     ]

#### Expected / Desired Behavior / Question
_If you are reporting an issue please describe the expected behavior. If you are suggesting an enhancement please
describe thoroughly the enhancement, how it can be achieved, and expected benefit. If you are asking a question, ask away!

[2022-05-24 04:16] radityoardi commented on #390
Just for addition to this issue. I am currently having no issue using @pnp/spfx-property-controls, until when I need @pnp/sp in my SPFx literally.
@pnp/spfx-property-controls still referencing to v1.3.x, while as I do `npm install @pnp/sp` which will install v3.x, this is where the conflict began.
![image](https://user-images.githubusercontent.com/12979499/169947326-235dae04-1f61-49f5-ae30-ca4c3a6

[2022-05-26 20:57] DA-Mena opened #458 "certain custom components in onCustomRender not functioning as expected"
#### Category
- [*] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.7.0]

#### Expected / Desired Behavior / Question

When using custom render prop to render a 3rd party react text editor (TinyMCE), sub modals that get produced under that component should work properly

#### Observed Behavior

TinyMCE has problems with focus when be

[2022-05-30 08:33] edarroudi commented on #457
Maybe it's possible with my new TreeCollectionField Control PR #456 , also see Issue #451

[2022-05-31 14:50] walleford commented on #457
@edarroudi Is this available for use?

[2022-06-01 10:01] edarroudi commented on #457
@walleford not right, PR has to be looked at and then finished. Can't give you a timeline on that.

[2022-06-03 09:11] RPWPA opened #460 "Any way to update the styling of the rendered PropertyFieldTermPicker component?"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [    3.6.0     ]

#### Expected / Desired Behavior / Question
Is there a way to be able to change the rendering of the "PropertyFieldTermPicker"?
I tried creating my HTMLElement and using it on the OnRender() method but nothing changed.
I'm asking because I need to be a

[2022-06-07 20:29] joelfmrodrigues commented on #451
@edarroudi sorry for the late reply, really busy at my end recently and was unable to keep up with everything
Will try to review over the next days

[2022-06-09 13:30] JeanNetryValere opened #461 "Arabic local missing for resource "PropertyControlStrings""
Hello,

it appears that the localization data is missing for Arabic language. Is this possible to have or plan it in next release please ?

#### Category
- [x] Enhancement
- [x] Bug
- [ ] Question

#### Version
version of the library: [3.6.0]

#### Expected / Desired Behavior / Question
ar-sa.js shipped in package -> dist folder

#### Observed Behavior
Error - [webpack] 'dist':
The selected locale

[2022-06-16 11:05] Jwaegebaert opened #464 "Extend ICustomCollectionField with disable option"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [ latest ]

####  Question

When you want to disable a field in the control `CollectionData`, you have to pass the option `disableEdit: true`. This forces all the fields in a column to be disabled after creation. Here it would be nice to have the option to conditionally

[2022-06-16 11:06] Jwaegebaert commented on #464
If everyone agrees that this could be a nice enhancement, then I can take it up. 😄

[2022-06-21 12:25] JeanNetryValere commented on #461
Hello @milanholemans,
It is pushed. Let me know if additional steps are required.
Bye

[2022-06-21 12:30] milanholemans commented on #461
Hi @JeanNetryValere, looks good!
Now we have to wait for this PR to be reviewed and completed. ☺️

[2022-06-21 23:14] joelfmrodrigues commented on #464
@Jwaegebaert  it would be a great improvement! And the approach is super neat 👏
Please go ahead and submit a PR 🙂

[2022-06-27 07:00] IRRDC opened #469 "PropertyFieldCollectionData checks custom error messages for fields that are not required"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.6.0]

#### Expected / Desired Behavior / Question
If a field has not been set to required onGetErrorMessage should not be called. When a former required field is no longer required it should be enough to set required to false and not also be necessary to remove the o

[2022-06-28 13:27] mariuszwojtkowski commented on #446
The fix looks good - pls merge asap!

[2022-06-30 15:55] xavisegura commented on #446
Same here, the fix looks good, please merge.

[2022-07-01 18:04] AJIXuMuK commented on #446
The fix has been merged.
It is available in beta version and will be included in the next release.

[2022-07-04 06:31] #446 closed

[2022-07-07 11:55] IRRDC commented on #457
@walleford I just managed to create several levels of nested PropertyFieldCollectionDataHost. I don't know if it is what you are looking for but maybe it helps you along:
I have a filterConfig property that has a listConfig array sub property. The filterConfig property is the target of the PropertyFieldCollectionData on the top level and one of the fields is a custom render of a PropertyFieldColle

[2022-07-07 13:39] walleford commented on #457
@IRRDC so when you used **subItem: IListConfig**, this is allowing the nested fields to reference their parent row? What I sent you above is a single field within the collection data, that is custom rendering another collection data group. Just want to make sure I am tracking what you are saying correctly.

[2022-07-07 13:56] IRRDC commented on #457
Yes. In your code snippet you have to change
`onCustomRender: (field, value, onUpdate, item, itemId, onError)`
to
`onCustomRender: (field, value, onUpdate, subItem, itemId, onError)`
and
`value: item.dropData`
to
`value: subItem`
since in the context of the custom render "subItem" is your parent row's "dropData" property. Within the custom render you can access "item.isDropdown" (not "subItem") to

[2022-07-07 14:04] walleford commented on #457
@IRRDC However, when I use it this way:
[code]
I am getting an error on item.isDropdown saying it can't be found. If the parent isn't a "Custom collection field" rather a regular PropertyFieldCollectionData, will item reference it properly?

[2022-07-07 14:10] IRRDC commented on #457
Sorry, I was thinking in too many nested layers just then. The code I'm working on right now is messing with my head. You don't need to rename item, set value: item.dropData, and disabled: item.isDropdown ? false : true.

[2022-07-12 13:26] #464 closed

[2022-07-12 13:30] #386 closed

[2022-07-12 18:21] walleford commented on #457
@IRRDC One last question for you, how are you getting the nested items to persist after clicking add and save? I am using this onChanged function (which works in a non-nested field) but it isn't working for this nested fieldcollectiondata. I would appreciate any help you can give.
[code]

[2022-07-13 06:22] IRRDC commented on #457
@walleford I'm just using `onChanged: (items) => { onUpdate(field.id, items); },` in the nested PropertyFieldCollectionDataHost.

[2022-07-15 14:31] walleford commented on #457
@IRRDC thank you for all of the help, I am going to close this now because that solved the issue.

[2022-07-15 14:37] walleford opened #473 "Add and Save for PropertyFieldCollectionData Not Being Activated with CustomCollectionData"
#### Category
- [ ] Enhancement
- [X ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [    3.7.2     ]

#### Expected / Desired Behavior / Question

I have a nested FieldCollectionData within my PropertyFieldCollectionData, and when updating the **nested** FieldCollectionData, the add and save button for the parent one does not become available unless I

[2022-07-17 17:28] HiltonGiesenow opened #475 "Page Type icons not appearing in the Site Pages library view"
#### Category
- [ ] Enhancement
- [x ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.8.0] (latest release)

#### Expected / Desired Behavior / Question
When including Site Pages in the File Browser control, the pages have a missing icon. The codebase references `https://spoprod-a.akamaihd.net/files/odsp-next-prod_2019-01-11_20190116.001/odsp-media/i

[2022-07-18 15:46] HiltonGiesenow opened #478 "Tiles are Missing for Site Pages in File Picker"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.8.0] (latest release)

#### Expected / Desired Behavior / Question
Similar to issue #477 , when in Site Pages and switching to Tiles mode, tiles should show (but don't).

#### Observed Behavior
Tiles do not show, making it hard to even figure out which site page you'

[2022-08-01 11:31] blackw212 commented on #390
Hi,

I am having actually the same problems. I am using the following:
![image](https://user-images.githubusercontent.com/5298004/182138897-ff64f711-31d6-465e-8078-f6f18ea60ba9.png)

And receive the same warning. I would like, if possible, to still keep using the latest version of PnPJS and use the controls as well.

What would be a workaround /  a release date for the new Property Controls librar

[2022-08-01 14:14] jacob-tornqvist opened #481 "PropertyFieldTermPicker v3.8.0 with SPFx 1.15 not loading"
#### Category
- [ ] Enhancement
- [ ] Bug
- [**X**] Question

#### Version
SPfx 1.15
Node version v14.18
@pnp/spfx-property-controls: 3.8.0

#### Expected / Desired Behavior / Question
Hi! Trying to use the PropertyFieldTermPicker, but i fail when trying to serve the web part. Recieving the following error message:

**Web part  was not initialized properly. Web parts must be instantiated using the

[2022-08-08 13:37] Jwaegebaert commented on #481
Hey @jacob-tornqvist, could you show a code example of how you implemented the `PropertyFieldTermPicker` within your solution?

[2022-08-15 10:46] attCurtisHennessy opened #482 "'export not found' errors with SPFX 1.15.2"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2022-08-15 19:28] mikeschaefer commented on #390
Hi,
Using SPFx 1.15.2 and my workaround for the moment is to add build.addSuppression(/@pnp\/sp/gm); to gulpfile.js to suppress the warnings.

<img width="1043" alt="image" src="https://user-images.githubusercontent.com/11966207/184703513-7fea9806-c286-4b55-be5e-236a1a42ab8f.png">

@blackw212 @radityoardi

[2022-08-19 08:57] thaeddavid opened #483 "Enhancement suggestion: PropertyFieldColumnPicker also returns field type."
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2022-08-31 16:57] HiltonGiesenow opened #487 "FilePicker Sorting Does Not Work"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [1.9.0]

#### Expected / Desired Behavior / Question
The FilePicker control should be able to sort on any of the columns it shows (name, modified date, modified by, size).

#### Observed Behavior
When using the FilePicker control, sorting works fine (for me) on the *Mod

[2022-09-01 14:06] nviolero opened #489 "PropertyFieldCollectionData keeps 'Save' button disabled when there is no validation errors in Custom FieldType"
#### Category
- [ ] Enhancement
- [X ] Bug
- [ ] Question

#### Version
Please specify what version of the library you are using: [ 3.9.0]

#### Expected / Desired Behavior / Question
'Save' button should always be enabled if there isn't any validation error even if is a custom field type.

#### Observed Behavior
There is a case in the PropertyFieldCollectionData that keeps the 'Save' button disab

[2022-09-19 08:58] SmarterJB commented on #482
Hey!
This seems to be the a problem with the @pnp/sp packages, not with the SPFx Version! We have the same issues with SPFx Version 1.14.0 and a @pnp/sp version >3!

[2022-09-20 22:47] c-eiser13 opened #491 "PropertyFieldTermPicker anchorId support"
#### Category
- [x ] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [     3.9.0    ]

#### Expected / Desired Behavior / Question
I came across the need to use the property pane term picker and need to filter it down to a subset of tags beneath an existing termset. The reusable controls taxonomy picker supports this via the anchorId pr

[2022-09-23 18:17] walleford commented on #457
@IRRDC hello again... I had to rewrite this code... long story short, backups didn't happen so I lost it. I am pretty sure I wrote it the exact same way, but it isn't persisting after I click add and save and I am not sure why, do you see anything wrong with this?
`{
                      id: "dropData",
                      title: "Manage Drop Data",
                      type: CustomCollectionF

[2022-09-26 06:15] IRRDC commented on #457
@walleford I'm sorry but I don't see what is wrong with your code.

[2022-09-27 09:04] nviolero commented on #489
Any update on this?
Regards.

[2022-10-04 13:30] #478 closed

[2022-10-06 12:52] HiltonGiesenow opened #497 "FilePicker Operations not working for 100+ Items"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.10.0]

#### Expected / Desired Behavior / Question
Certain FilePicker operations are not working when the location (Library or Folder) has 100+ items, specifically (that I've seen so far):
1. Sorting
2. Changing views (to Tiles view)

#### Observed Behavior

Sorting

[2022-10-06 13:56] HiltonGiesenow opened #498 "Can't build current code: spfx-fast-serve-helpers needs to be bumped to v1.15.x"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.10.0]

#### Expected / Desired Behavior / Question
I should be able to build the latest code from the repo

#### Observed Behavior
Code doesn't build because it references SPFx 1.15.x, but spfx-fast-serve-helpers is still 1.14.x

#### Steps to Reproduce
Updated my re

[2022-10-06 14:02] pschaeflein opened #499 "index.ts does not export all controls"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2022-10-06 14:19] HiltonGiesenow commented on #498
Never mind - I was on Master instead of Dev branch. Not sure why they're out of sync if we have a major release?

[2022-10-06 14:19] #498 closed

[2022-10-06 17:07] HiltonGiesenow opened #501 "File Sorting not working on file size properly"
#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.10.0]

#### Expected / Desired Behavior / Question
Sort on File Picker should work on file size.

#### Observed Behavior
Sort is not working on File Size properly. I think it's sorting as alpha, not numeric. Not sure why I didn't pick this up in my earlier PR, but mi

[2022-10-07 08:07] HiltonGiesenow opened #503 "File Picker Sorting on Large Libraries / Folders Must do Server-Side Sorting"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [3.10.0]

#### Expected / Desired Behavior / Question
I've been working on several fixes for this, but I realised, working with a larger library/container (folder), that all of the sorting the component currently has is client side. If the total number of files is small

[2022-10-24 07:38] HiltonGiesenow opened #505 "Is it possible to upgrade to a more recent ES version (even ES2015)?"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version

Please specify what version of the library you are using: [v3.10.0]

This is just a question, but why is the solution still targeting ES5? What are the blockers to upgrading even to, say, ES2015?

[2022-10-28 14:44] Rtoribiog opened #507 "PropertyFieldTermPicker works with latest version of PnPTaxonomy"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2022-10-31 11:03] Macro21 opened #508 "File Picker tiles mode not working with folders inside the library"
File Picker tiles mode not working with folders inside the library

#### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question

#### Version

[3.10.0]

Steps to reproduce:

1. Create a folder in a document library.
2. Trying to select a document with the FilePicker (with the tiles view) from that library and you get an error.

![image](https://user-images.githubusercontent.com/24574303/198993198-507

[2022-11-16 15:00] #497 closed

[2022-11-16 15:00] #501 closed

[2022-11-16 15:00] #503 closed

[2022-11-16 15:01] #475 closed

[2022-11-16 15:01] #461 closed

[2022-11-16 15:01] #491 closed

[2022-11-16 21:32] IvanTheBearable opened #515 "PropertyFieldCollectionData validation improvements"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2022-11-22 04:27] naka51 opened #516 "PropertyFieldViewPicker don't gray out"
#### Category
- [ ] Enhancement
- [〇] Bug
- [〇] Question

#### Version

Please specify what version of the library you are using: [3.7.0]

#### Expected / Desired Behavior / Question
Disabling PropertyFieldNumber grays out labels and controls.
However, when PropertyFieldViewPicker is disabled, only the control is grayed out.
How can I gray out the label as well?

import { PropertyFieldViewPicker}

[2022-11-23 15:22] trillian74 opened #517 "npm WARN ERESOLVE overriding peer dependency"
#### Category
- [ ] Enhancement
- [ x] Bug
- [ x] Question

#### Version

Please specify what version of the library you are using: [  3.11.0, spfx 1.15.2, node 16.15.1  ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
I was expecting it to not have internal package conflict, but i

[2022-11-28 04:22] svermaak opened #518 "Unable to load properties with PropertyPanePropertyEditor that contains PropertyFieldCollectionData"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-property-controls/) to see if your question is already addressed there. This will help us ensu

[2022-11-29 08:55] mfdezvil opened #520 "PropertyFieldListPicker: List Picker control is not cleared properly when I pass it a variable with null value"
#### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [  3.11.0  ]

#### Expected / Desired Behavior / Question
In my Webpart Property Pane I have two controls:

- [PropertyFieldSitePicker](https://pnp.github.io/sp-dev-fx-property-controls/controls/PropertyFieldSitePicker/): Allows to pick a site; it has an onChange event